{% extends 'base.html' %}

{% block content %}

<h1>{{ author.name }}</h1>
{% if author.homepage %}<a href="{{ author.homepage }}">Website</a>{% endif %}

{% if author.headshot %}
<img src="{{ author.headshot.display.url }}" alt="{{ author.name }}" />
{% endif %}

<p>{{ author.bio|safe }}</p>

<div class="hr"><hr></div>

<ul>{% for story in story_set %}
<li><a href="{{ story.story.get_absolute_url }}">{{ story.story.head }}</a></li>
{% endfor %}</ul>

<ul>{% for entry in entry_set %}
<li><a href="{{ entry.get_absolute_url }}">{{ entry.head }}</a></li>
{% endfor %}</ul>

{% endblock content %}