{% extends 'base.html' %}
{% load navigation %}
{% load comparison %}
{% load typogrify %}
{% load custom_html %}
{% load comments.comments %}
{% load comment_utils %}
{% block head-code %}
<link rel="alternate stylesheet" type="text/css" href="/media/styles/journal_print_preview.css" media="screen" title="Print Preview" />
<link rel="stylesheet" type="text/css" href="/media/styles/journal_print.css" media="print" />
<script type="text/javascript" src="/media/js/print_preview.js"></script>
{% endblock head-code %}

{% block title %}Comments for &ldquo;{{ story.head|stripspace }}&rdquo; - {{ block.super }}{% endblock title %}

{% block header-type %}secondary{% endblock header-type %}
	{% block header-img %}logo_inside.gif{% endblock header-img %}
	{% block dateline %}{{ story.issue.pub_date|date:"F j, Y" }}{% endblock dateline %}
	{% block issueline %}Vol. {{ story.issue.volume.volume}}, Issue {{ story.issue.issue }}{% endblock issueline %}

{% block menu-type %}wide{% endblock menu-type %}
	{% block menu-stories %}
		{% other_stories story.section story.issue %}
		{% if other_stories %}
			<p class="menu-label">Other stories in {{ story.section.name }}</p>
			<ul>
			{% for other_story in other_stories %}
				<li><a href="{{ other_story.get_absolute_url }}">{{ other_story.head }}</a></li>
			{% endfor %}
		{% endif %}
		</ul>
	{% endblock menu-stories %}
		
{% block layout-type %}narrow-1col{% endblock layout-type %}
	{% block breadcrumb %}<a href="{% url stories.views.index_front story.issue.pub_date %}">{% current_issue as issue %}{% ifequal issue.pub_date story.issue.pub_date %}Current issue{% else %}Back issue{% endifequal %}</a> &raquo; <a href="{% url stories.views.index_section story.issue.pub_date,story.section.slug %}">{{ story.section.name }}</a> &raquo; <a href="{% url stories.views.detail_story story.issue.pub_date,story.section.slug,story.slug %}">{% firstof story.label "Story" %}</a> &raquo; Comments{% endblock breadcrumb %}
	{% block actions %}
		<div id="actions"><p><span id="actions-email" class="action"><a href="{{ story.get_absolute_url }}email/">e-mail <img src="/media/global/icon_email.gif" /></a>&emsp;<a href="javascript:print_preview()">print <img src="/media/global/icon_print.gif" /></a></span></p></div>
	{% endblock actions %}
	{% block content %}
		<div id="story" class="story clearfix">
			<h1 class="story-head">{{ story.head|stripspace|widont }}</h1>
			<div class="story-content">
			<p>{{ story.summary|typogrify|convert_entities }} <a href="{% url stories.views.detail_story story.issue.pub_date,story.section.slug,story.slug %}">(back to story...)</a></p>

			{% get_public_free_comment_list for stories.story story.id as comment_list %}
			{% get_public_free_comment_count for stories.story story.id as comment_count %}

			<h3 id="comment-header">Discuss this story {% ifnotequal comment_count 0 %}({{ comment_count }} comment{{ comment_count|pluralize }}){% endifnotequal %}</h3>
			<p id="comment-policy">All discussions are moderated. <a href="#policy">Please see our full comment policy for details.</a></p>
			{% for comment in comment_list|dictsort:"submit_date" %}
				<div class="comment-{% cycle odd,even %} clearfix" id="c{{ comment.id }}">
					<div class="comment-meta">
						<strong>{{ comment.person_name|escape }}</strong><br/>
						{{ comment.person_location|escape }}<br/>
						<a id="c{{ comment.id }}" href="#c{{ comment.id }}">{{ comment.submit_date|date:"F j, Y" }} at {{ comment.submit_date|date:"P" }}</a>
					</div>
					<div class="comment-body">
						{{ comment.comment|escape|urlizetrunc:40|linebreaks }}
					</div>
				</div>
			{% endfor %}
			
			<div id="comment-form">
				{% if story.enable_comments %}
					{% free_comment_form for stories.story story.id %}
				{% else %}
					<h3>This story is closed to new comments.</h3>
				{% endif %}
			</div>
			
			<a name="policy"></a><h3 id="comment-policy-header"><em>Journal</em> comments policy</h3>
			<p>The comments on this website do not represent the views or opinions of the <em>Queen&apos;s Journal</em>, but of the comment-writer alone.  
			Libelous comments and unsubstantiated allegations will not be printed, nor will comments that discriminate on the basis of ethnicity, nationality, 
			citizenship, gender, religion, sexual orientation, age, marital status or mental or physical ability.  All comments are moderated, and may take up 
			to 24 hours to be posted on this site barring any unforeseen circumstances.  The <em>Journal</em> reserves the right to refrain from publishing comments. 
			Comments are not edited for grammar or spelling, or for vulgar language outside of the above restrictions.  The <em>Journal</em> respects your privacy.  
			By posting your comments in our feedback forum you give us permission to post and publish your name, city and comments on the <em>Journal</em> website.  
			All submissions must contain the email address of the comment-writer.  Thank you for your co-operation.</p>
			</div>
		</div>
	{% endblock content %}


