{% extends "stories/single_detail.html" %}
{% load navigation %}

{% block content %}
	<div class="story">
		<h1 class="story-head">E-mail &ldquo;{{ story.head }}&rdquo; to a friend</h1>
		<p class="story-byline"></p>
		<div class="story-content">
			<p>You will be sending a link to the following story:</p>
			<h3>{{ story.head }}</h3>
			<p>{{ story.summary }}</p>
			<div class="form-container">
			<form action="" method="POST">
			    {% csrf_token %}
				<fieldset>
					<legend>E-mail</legend>
					<div{% if form.sender.errors %} class="errors"{% endif %}><label for="id_sender">Your name</label>{% if form.sender.errors %} <span class="error-text">({{ form.sender.errors|join:", " }})</span>{% endif %}<br/>{{ form.sender }}</label></div>
					<div{% if form.email.errors %} class="errors"{% endif %}><label for="id_email">Recipient's e-mail address</label>{% if form.email.errors %} <span class="error-text">({{ form.email.errors|join:", " }})</span>{% endif %}<br/>{{ form.email }}</label></div>
					<div{% if form.message.errors %} class="errors"{% endif %}><label for="id_message">Personal message (optional, limited to 1000 words)</label>{% if form.message.errors %} <span class="error-text">({{ form.message.errors|join:", " }})</span>{% endif %}<br/>{{ form.message }}</label></div>
					<div><input type="submit" value="Send story" /></div>
				</fieldset>
			</form>
			</div>
		</div>
	</div>
{% endblock content %}