{% extends 'staff/base.html' %}
{% block title %}{{ block.super }}Viewing photo request for {{ object.subject|escape }}{% endblock title %}
{% block staffapp %}Photo request board{% endblock staffapp %}
{% block header %}Viewing photo request for {{ object.subject|escape }}{% endblock header %}
{% block content %}
        <fieldset id="form-basics">
            <legend>Basic information</legend>
            <div id="form-subject" class="display-field"><label for="id_subject">Shoot subject:</label><br/>{{ object.subject|escape }}</div>
            <div id="form-location" class="display-field"><label for="id_location">Shoot location:</label><br/>
                {% if object.location %}
                    {{ object.location|escape }}
                {% else %}
                    None
                {% endif %}</div>
            
            <div id="form-time" class="display-field"><label for="id_time">Shoot time:</label><br/>
            {% if object.time %}
                {{ object.time|date:"F j, Y - " }}{{ object.time|time:" P"}} (in {{ object.time|timeuntil }})</div>
            {% else %}
                None
            {% endif %}
        </fieldset>

        <fieldset id="form-workflow">
            <legend>Workflow management</legend>
            <div id="form-status" class="display-field"><label for="id_status">Status:</label><br/>{{ object.get_status_display|escape }}</div>
            <div id="form-photographer" class="display-field"><label for="id_photographer">Photographer:</label><br/>{{ object.photographer|escape|default:"(none assigned)" }}</div>
            <div id="form-deadline" class="display-field"><label for="id_deadline">Deadline:</label><br/>{{ object.deadline|date:"F j, Y" }}</div>
        </fieldset>
        
        <fieldset id="form-details">
            <legend>Details</legend>
            <div id="form-creator" class="display-field"><label for="id_creator">Request creator:</label><br/>
                {% if author.name %}
                    <a href="{{ author.get_absolute_url }}">{{ author.name }}</a></div>
                {% else %}
                    {{ author }}
                {% endif %}
            <div id="form-section" class="display-field"><label for="id_section">Section:</label><br/>{{ object.section.name|escape }}</div>
            <div id="form-notes" class="display-field"><label for="id_notes">Notes:</label><br/>
            <blockquote>{{ object.notes|default:"(none)"|escape|linebreaks }}</blockquote>
        </fieldset>
{% endblock content %}
{% block sidebar %}
<div>
    <p><a href="{% url staff.views.user_logout %}">Logout</a><br/><a href="{% url staff.requests.views.user_index %}">View all requests</a></p>
    <p>Always check with the photo editors in person as well as using this system.</p>
    <p>Problems? Talk to the webmaster.</p>
</div>
{% endblock sidebar %}