{% extends 'base.html' %}
{% load navigation %}
{% load tags %}

{% block content %}
<h1>Tag Search</h1>
<p>You searched for the tag <span class="highlight">{{ tag }}</span>.</p>
{% if stories %}
	{% for story in stories %}
		{% if story.head %}
		<div class="row-{% cycle odd,even %}">
		<h2><a href="{{ story.get_absolute_url }}">{{ story.head }}</a></h2>
		<h3>{{ story.pub_date|date:"jS F Y" }}</h3>
		{{ story.summary|striptags|truncatewords:50|safe|linebreaks }}
		</div><!-- row end -->
		{% endif %}
		
		{% if story.title %}
		<div class="row-{% cycle odd,even %}">
		<h2><a href="{{ story.get_absolute_url }}">{{ story.title }}</a></h2>
		<h3>{{ story.pub_date|date:"jS F Y" }}</h3>
		{{ story.content|striptags|truncatewords:50|safe|linebreaks }}
		</div><!-- row end -->
		{% endif %}
	{% endfor %}
{% else %}
	<p>No articles have that tag</p>
{% endif %}
{% endblock content %}