{% load linkset %}
<ul class="menu">{% for sect in sections %}
    {% ifequal sect.slug story.section.slug %}
        <li class="section-current menu">
    {% else %}
        <li class="section-other menu">
    {% endifequal %}
        {% spaceless %}
            <a href="{% if issue %}
                {% url stories.views.index_issue_section issue.pub_date section.slug %}
            {% else %}
                {% url stories.views.index_section sect.slug %}
            {% endif %}">
                <span>{% if sect.short_name %}{{ sect.short_name }}{% else %}{{ sect.name }}{% endif %}</span>
            </a>
        {% endspaceless %}
        </li>
    {% endfor %}

    {% block linkset %}
    {% linkset 'menu-sections' as links %}
    {% for link in links %}
        {% if link.active %}
        <li class="menu {% ifequal section_config.section.slug link.text %}section-current{% else %}{% firstof link.css_class 'section-other' %}{% endifequal %}">
            <a href="{{ link.url }}"><span>{{ link.text }}</span></a>
        </li>
        {% endif %}
    {% endfor %}
    {% endblock %}
</ul>
