[submodule "src/django-imagekit"]
	path = src/django-imagekit
	url = git://github.com/tylerball/django-imagekit.git
[submodule "src/django-oembed"]
	path = src/django-oembed
	url = git://github.com/tylerball/django-oembed.git
