/* line 3, modules.scss */
.ad {
  margin: 0 auto;
  text-align: center;
}

/* line 10, modules.scss */
.sct-preview .first-story {
  float: left;
  width: 4em;
  margin-right: 1em;
}
/* line 15, modules.scss */
.sct-preview .first-story img {
  margin-bottom: 1em;
}
