{% spaceless %}
	<ul>
	{% for sect_obj in sections.flatplansection_set.all %}
		{% ifequal sect_obj.section.slug current.slug %}
			<li id="section-current">
		{% else %}
			<li>
		{% endifequal %}
		<a href="{% url journal.stories.views.index_section sect_obj.section.slug %}">
		{% if sect_obj.section.short_name %}
			{{ sect_obj.section.short_name }}
		{% else %}
			{{ sect_obj.section.name }}
		{% endif %}
			</a></li>
	{% endfor %}
		<li><a href="{% url all_blogs %}">Blogs</a></li>
	</ul>
{% endspaceless %}