/* Global typography */
body {
    color: #222;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	background-color: #eee;
	margin: 0;
	padding: 0;
}
/*Headlines: Big, Normal, Sub */
h1, h2, h3 {
	font-family: Garamond, Times, serif;
	font-weight: normal;
}
h1 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
h2 { font-size: 2em; margin-bottom: 0.75em; }
h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1em; }
h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; font-weight: normal; }

hr {
	border-style: none;
	border-bottom: 1px solid #aaa;
	clear: both;
	display: block;
	font-size: 0px;
	height: 0px;
	line-height: 0px;
	margin: 10px auto;
	max-height: 0px;
	padding: 0px;
	position: relative;
	width: 100%;
	}
.hr-dbl hr {
    border-bottom: 1px solid #888;
	border-top: 1px solid #888;
	height: 3px;
	line-height: 5px;
	max-height: 5px;
	clear: both;
	display: block;
	font-size: 0px;
	margin: 10px 0;
	padding: 0px;
	position: relative;
	width: 100%;
}
	
.dblmargin {
	margin: 0.5em 0 0.5em 0 !important;
}
	
.colborder {
	padding-right: 2%;
	margin-right: 2%;
	border-right: 1px solid #aaa;
	}
.colborder-blank {
	padding-right: 2%;
	margin-right: 2%;
	}

p{
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 1.5em;
}
blockquote {
	font-size: 1em;
	line-height: 1.5em;
	margin: 0 3em 1.5em;
}
li {
	font-size: 1em;
	line-height: 1.5em;
}
a {
	color: #2d81ab;
	text-decoration: none;
	img {
    	border: 0;
    }
    &:focus, &:hover { color: #09f; }
}
.label {
	text-transform: uppercase;
	font: 0.8em bold Helvetica, Arial, sans-serif;
	line-height: 0.85em;
	margin-bottom: 5px;
}
blockquote  { margin: 1.5em; color: #666; font-style: italic; }
strong,dfn	{ font-weight: bold; }
em,dfn      { font-style: italic; }
sup, sub    { line-height: 0; }
abbr, acronym { border-bottom: 1px dotted #666; }
address     { margin: 0 0 1.5em; font-style: italic; }
del         { color:#666; }
pre         { margin: 1.5em 0; white-space: pre; }
pre,code,tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }
li ul,
li ol       { margin: 0; }
ul, ol      { margin: 0 1.5em 1.5em 0; padding-left: 1.5em; }
ul          { list-style-type: disc; }
ol          { list-style-type: decimal; }
dl          { margin: 0 0 1.5em 0; }
dl dt       { font-weight: bold; }
dd          { margin-left: 1.5em;}
table       { margin-bottom: 1.4em; width:100%; }
th          { font-weight: bold; }
thead th    { background: #c3d9ff; }
th,td,caption { padding: 4px 10px 4px 5px; }
tbody tr:nth-child(even) td, tbody tr.even td  { background: #e5ecf9; }
tfoot       { font-style: italic; }
caption     { background: #eee; }

#container {
    background-color: white;
    padding: 5px 10px;
    width: 480px;
}
#header-container {
    padding: 5px;
    background-color: #0b67a3;
    color: white;
    h1 {
        text-align: center;
        font-size: 4.5em;
        margin: 0.5em 0 0.5em 0;
    }
    hr {
        border-bottom: white solid 1px;
    }
    > div {
        margin-top: 10px;
    }
    #search {
        float: left;
    }
    #connect {
        float: right;
    }
}
#navbar {
    clear: both;
    padding-top: 10px;
    overflow: hidden;
    ul {
        width: 100%;
        padding-left: 0;
        li {
            list-style-type: none;
            background-color: white;
            width: 33.33333333333%;
            float: left;
            text-align: center;
            border-left: 1px #0B67A3 solid;
        	&:hover, &:active {
                background-color: #E1F3FC;
            }
            a {
                color: black;
                font: 1.3em Helvetica, Arial, sans-serif bold;
                span {
                    padding: 0.5em 0 0.5em 0;
                    display: block;
                    height: 18px;
                    width: 100%;
                }
            }
        }
    }
}