{% extends 'base.html' %}
{% load typogrify %}
{% load custom_html %}
{% load navigation %}
{% load sidebartags %}
{% load comparison %}
{% load oembed_tags %}

{% block headcode %}<link rel="alternate" type="application/rss+xml" title="Latest {{ story.section.name }} stories feed (RSS 2.0)" href="/rss/section/{{ story.section.slug }}/" />
{% endblock headcode %}

{% block title %}Videos - {{ block.super }}{% endblock title %}

    {% block content %}
    {% block breadcrumb %}<div id="breadcrumb"><a href="/" class="homelink">Home</a><span class="divider"></span><span class="current">Videos</span></div>
    {% endblock %}

    <div class="section-header">
        <h1>Videos</h1>
    </div>

    <div id="slider">
        {% oembed 620x400 %}
        {{ latest_video.link|safe }}
        {% endoembed %}
         <p class="label">{% if latest_video.tags %}<a href="/tag/{{latest_video.label|striplabel|slugify}}/">{{ latest_video.tags|striplabel }}</a>{% endif %}</p>
        <h2><a href="{{ latest_video.get_absolute_url }}">{{ latest_video.name|striptags|choptext:"42"|stripspace|convert_entities|safe }}</a></h2>
        {{ latest_video.caption|stripspace|convert_entities|truncatewords:38|safe }}
    </div>

    <h3>Latest Videos</h3>
    <hr>
    <div id="other-stories" class="jrnl-masonry">

        {% for video in other_videos %}
        <div class="latest-section">
            <a href="{{ video.get_absolute_url }}"><img src="{{ video.front_image.url }}" />
            <h4>{{ video.name }}</h4></a>
            <p class="summary">{{ video.caption|convert_entities|truncatewords:18|safe }}</p>
            <p class="pub-date">Posted {{ video.pub_date|time_since }}</p>
        </div>
        {% endfor %}

    </div><!--block-->
    {% endblock content %}
