{% extends 'staff/base.html' %}
{% load custom_html %}
{% block title %} - Editing &ldquo;{{ object.comment|escape|truncatewords:5 }}&rdquo;{% endblock title %}
{% block staffapp %}Comment moderation queue{% endblock staffapp %}
{% block header %}Editing &ldquo;{{ object.comment|escape|truncatewords:5 }}&rdquo;{% endblock header %}
{% block content %}
	<form action="" method="post">
		{% if form.errors %}
		<h3>There were errors.</h3>
		{% endif %}
		<fieldset>
			<legend>Comment</legend>
			<div class="form-field{% if form.person_name.errors %} form-errors{% endif %}"><label for="id_person_name">Author's name</label><br/>{{ form.person_name }}</div>
			<div class="form-field{% if form.person_location.errors %} form-errors{% endif %}"><label for="id_person_location">Author's city/town/location</label><br/>{{ form.person_location }}</div>
			<div class="form-field{% if form.person_email.errors %} form-errors{% endif %}"><label for="id_person_email">Author's e-mail address</label><br/>{{ form.person_email }}</div>
			<div class="form-field"><label for="id_ip_address">Author's IP address</label><br/>{{ object.ip_address }}</div>
			<div class="form-field{% if form.comment.errors %} form-errors{% endif %}"><label for="id_comment">Comment</label><br/>{{ form.comment }}</div>
		</fieldset>

		<fieldset id="form-status">
			<legend>Status</legend>
			<div class="form-field"><label for="id_story_date">Posted:</label><br/>{{ object.submit_date }}</div>
			<div class="form-field"><label for="id_story_status">Status:</label><br/>{% if object.is_public %}Published{% else %}{% if object.approved %}Moderated{% else %}Deleted{% endif %}{% endif %}</div>
		</fieldset>

		<fieldset id="form-parent">
			<legend>Parent object</legend>
			<div class="form-field"><label for="id_story_head">Article:</label><br/><a href="{{ parent.get_absolute_url }}">{% firstof parent.head parent.title %}</a> ({% if parent.head %}Story, {% else %}Blog entry, {% endif %}{% firstof parent.section.name, parent.blog.title %}, {% firstof parent.issue.pub_date, parent.date_published %})<br/>
			<a class="form-parent-comments" href="{% url staff.commentmod.views.comment_index %}?ctype={{ object.content_type.id }}&objid={{ object.object_id }}">View all comments for this story</a><br/>
			<span class="form-parent-comments">Comments are currently <strong>{% if parent.enable_comments %}open{% else %}closed{% endif %}</strong>. You can {% if not parent.enable_comments %}open{% else %}close{% endif %} them using the general admin interface.</span></div>
		</fieldset>
		
		<input type="hidden" name="ip_address" value="{{ object.ip_address }}" />
		<input type="hidden" name="content_type" value="{{ object.content_type.id }}" />
		<input type="hidden" name="object_id" value="{{ object.object_id }}" />
		<input type="hidden" name="submit_date" value="{{ object.submit_date }}" />
		{% ifequal object.is_public 1 %}<input type="hidden" name="is_public" value="on" />{% endifequal %}
		{% ifequal object.approved 1 %}<input type="hidden" name="approved" value="on" />{% endifequal %}
		<input type="hidden" name="site" value="{{ object.site.id }}" />
		<input type="submit" value="submit" />
	</form>
{% endblock content %}
{% block sidebar %}
<div>
	<p><a href="{% url staff.views.user_logout %}">Logout</a><br/><a href="{% url staff.commentmod.views.comment_index %}">View all comments</a></p>
	<p>Problems? Talk to the webmaster.</p>
</div>
{% endblock sidebar %}