{% extends 'base.html' %}
{% block title %}Comment preview - {{ block.super }}{% endblock title %}

{% block header-type %}secondary{% endblock header-type %}
	{% block header-img %}logo_inside.gif{% endblock header-img %}

{% block content %}
<div class="story-content">
<h1>Comment preview</h1>

<div class="form-container">
<form action="../postfree/" method="post">
	{% if comment_form.has_errors %}
	    <p><span class="error-text">Please correct the following errors.</span></p>
	{% else %}
	<p id="comment-policy">This is only a preview of your comment; it has not been submitted for publication yet. Review the comment and click on the post button below the comment if your comment is satisfactory, or edit the comment if you wish.</p>
	<div class="comment-{% cycle odd,even %} clearfix" id="c">
		<div class="comment-meta">
			<strong>{{ comment.person_name|escape }}</strong><br/>
			{{ comment.person_location|escape }}<br/>
			<a id="c" href="">{{ comment.submit_date|date:"F j, Y" }} at {{ comment.submit_date|date:"P" }}</a>
		</div>
		<div class="comment-body">
			{{ comment.comment|escape|urlizetrunc:40|linebreaks }}
		</div>
	</div>

	    <p><input type="submit" name="post" value="Submit comment" /></p>

	{% endif %}
	<fieldset>
		<legend>Edit your comment</legend>
		<div{% if comment_form.person_name.errors %} class="errors"{% endif %}><label for="id_person_name">Your name</label><br/>{{ comment_form.person_name }}
		{% if comment_form.person_name.errors %}<span class="error-text">({{ comment_form.person_name.errors|join:", " }})</span>{% endif %}</div>
		<div{% if comment_form.person_location.errors %} class="errors"{% endif %}><label for="id_person_email">Your city/town/location</label><br/>{{ comment_form.person_location }}
		{% if comment_form.person_location.errors %}<span class="error-text">({{ comment_form.person_location.errors|join:", " }})</span>{% endif %}</div>
		<div{% if comment_form.person_email.errors %} class="errors"{% endif %}><label for="id_person_email">Your e-mail address (will be kept private)</label><br/>{{ comment_form.person_email }}
		{% if comment_form.person_email.errors %}<span class="error-text">({{ comment_form.person_email.errors|join:", " }})</span>{% endif %}</div>
		<div{% if comment_form.comment.errors %} class="errors"{% endif %}><label for="id_comment">Comment</label><br/>{{ comment_form.comment }}
		{% if comment_form.comment.errors %}<br/><span class="error-text">({{ comment_form.comment.errors|join:", " }})</span>{% endif %}</div>
		<input type="hidden" name="options" value="{{ options }}" />
		<input type="hidden" name="target" value="{{ target }}" />
		<input type="hidden" name="gonzo" value="{{ hash }}" />
		<div><input type="submit" name="preview" value="Preview comment" /></div>
	</fieldset>
</form>
</div>
</div>
{% endblock content %}