{% load i18n %}
{% if display_form %}
<div class="form-container">
<form action="/comments/postfree/" method="post">
	<fieldset>
		<legend>Post a comment</legend>
		<div{% if form.person_name.errors %} class="errors"{% endif %}><label for="id_person_name">Your name</label><br/><input type="text" id="id_person_name" name="person_name" /></div>
		<div{% if form.person_location.errors %} class="errors"{% endif %}><label for="id_person_location">Your city/town/location</label><br/><input type="text" id="id_person_location" name="person_location" /></div>
		<div{% if form.person_email.errors %} class="errors"{% endif %}><label for="id_person_email">Your e-mail address (will be kept private)</label><br/><input type="text" id="id_person_email" name="person_email" /></div>
		<div{% if form.comment.errors %} class="errors"{% endif %}><label for="id_comment">Comment</label><br/><textarea name="comment" id="id_comment" rows="10" cols="60"></textarea></div>
		<input type="hidden" name="options" value="{{ options }}" />
		<input type="hidden" name="target" value="{{ target }}" />
		<input type="hidden" name="gonzo" value="{{ hash }}" />
		<input type="hidden" name="url" value="{{ request.get_full_path }}" />
		<div><input type="submit" name="preview" value="Preview comment" /></div>
	</fieldset>
</form>
</div>
{% endif %}
