{% load typogrify %}
{% load custom_html %}

{% ifequal obj.model_type 'Story' %}
    <p>By {{obj.list_authors|safe}}</p>

    {% for pwrapper in obj.storyphoto_set.all|slice:":2" %}
    	<img src="{{ pwrapper.photo.display.url }}"/>
    	<p class="story-caption">{{ pwrapper.photo.caption }}{% ifnotequal pwrapper.photo.list_photographer '[no credit]' %} ({{ pwrapper.photo.list_photographer|safe }}){% endifnotequal %}</p>
    	<hr>
    {% endfor %}
    {% if obj.storyphoto_set.all|length > 2 %}<a href="{{ obj.get_absolute_url }}">More Photos...</a>{% endif %}

    {% if obj.show_headshots %}
    	{% for sauthor in obj.storyauthor_set.all %}
    		<div class="headshot"><img src="{{ sauthor.author.headshot.display.url }}" /><br/>
    		<a href="{{ sauthor.author.get_absolute_url }}">{{ author.author.name }}</a></div>
    	{% endfor %}
    {% endif %}

    {{ obj.content|typogrify|convert_entities|linebreakswithcode|safe|urlizetrunc:50 }}

    {% if obj.gallery_set.all %}
    	{% for pwrapper in obj.gallery_set.all|slice:":4" %}
    		<img src="{{ pwrapper.photo.thumbnail_image.url }}"/>
    		<p class="story-caption">{{ pwrapper.caption }}{% ifnotequal pwrapper.list_photographer '[no credit]' %} ({{ pwrapper.list_photographer|safe }}){% endifnotequal %}</p>
    	{% endfor %}
    {% endif %}
    {% if obj.gallery_set.all|length > 4 %}<a href="{{ obj.get_absolute_url }}">More Photos...</a>{% endif %}
{% endifequal %}

{% ifequal obj.model_type 'Video' %}
    {% load oembed_tags %}
    <p>By <a href="{{ obj.photographer.get_absolute_url }}">{{ obj.photographer }}</a></p>
    {% oembed 400x320 %}
    {{ obj.link|safe }}
    {% endoembed %}
    <noembed><a href="{{obj.get_absolute_url}}">Click here to view video</a></noembed>
    {{ obj.caption|typogrify|urlizetrunc:50|linebreakswithcode|safe }}
{% endifequal %}

{% ifequal obj.model_type 'Entry' %}
    {% load image_tags %}
    {% load more %}
    <p>Posted by <a href="{{obj.author.get_absolute_url}}">{{obj.author}}</a>{% if obj.author.get_latest_role %}, {{obj.author.get_latest_role}}{% endif %}</p>
    {{ obj.content|more_interior|images:435|removetags:"font"|typogrify|linebreakswithcode|safe }}
{% endifequal %}