{% load typogrify %}
{% load polls %}
{% load lists %}
<h3>Talking Heads</h3>
{% if is_empty %}
	<h5>No items.</h5>
{% else %}
	{% for item in items %}
		<p class="sidebar-heads-location">...{{ item.location|typogrify }}</p>
		<h4 class="sidebar-heads-question">{{ item.question|typogrify }}</h4>
		{% for answer in item.talkingheadsanswer_set.all %}
		<div class="sidebar-heads-answer clearfix">
			<img src="{{ answer.photo.get_photo_url }}" class="sidebar-heads-image"/>
			<p class="sidebar-heads-quote">{{ answer.quote|typogrify }}</p>
			<p class="sidebar-heads-person">{{ answer.name|typogrify }}</p>
		</div>
		{% endfor %}
		<p class="sidebar-heads-credits">Photos by {{ item.list_photographers|typogrify }}</p>
		{% if item.poll %}
			<div id="sidebar-poll" class="poll">
				<p class="menu-label">Poll</p>
				<p id="poll-question">{{ item.poll.question }}</p>
				{% pollflash item.poll.id %}
					{% ifequal pollmsg.params.type 'voteflood' %}{% ifequal pollmsg.poll item.poll.id %}<p><strong>{{ pollmsg.msg }}</strong></p>{% endifequal %}{% endifequal %}
				{% endpollflash %}
				{% if item.poll.id|in_list:request.session.vote or request.GET.results or not item.poll.is_active %}
				{% if not item.poll.is_active %}
					<p><strong>Voting on this poll is closed.</strong></p>
				{% endif %}
				<ul id="poll-results">
					{% for choice in item.poll.choice_set.all %}
					<li class="clearfix"><p>{{ choice.choice }}</p>
					<p class="result-number">{{ choice.vote_set.count }}</p>
					<div class="result-bar-back">
						<div class="result-bar-interval"></div>
						<div class="result-bar-interval"></div>
						<div class="result-bar-interval"></div>
						<div class="result-bar-interval"></div>
					{% ifnotequal choice.vote_set.count 0 %}
						<div class="result-bar" style="width: {% widthratio choice.vote_set.count item.poll.total_votes 118 %}px;"></div>
					{% endifnotequal %}
					</div>
					</li>
					{% endfor %}
				{% else %}
				<form action="{% url polls.views.poll_vote item.poll.id %}" method="post">
					{% poll_form item.poll.id as form %}
					{{ form.choice }}
					<input type="hidden" name="url" value="{{ request.get_full_path }}" />
					<button type="submit">Vote!</button> <a href="{{ request.get_full_path }}?results=1">View results</a>
				</form>
				{% endif %}
			</div>
		{% endif %}
	{% endfor %}
{% endif %}
