{% load typogrify %}
<h3>Campus Calendar</h3>
{% if is_empty %}
	<h5>No items.</h5>
{% else %}
	{% for item in items %}
		{% ifchanged item.start_time.date %}<p class="sidebar-calendar-date">{{ item.start_time.date|date:"F j" }}</p>{% endifchanged %}
		<h5 class="sidebar-calendar-name">{{ item.name }}</h5>
		<p class="sidebar-calendar-details">{{ item.description|widont }}</p>
		<p class="sidebar-calendar-location">{{ item.location }}</p>
		<p class="sidebar-calendar-time">{{ item.start_time|date:"P" }}{% if item.end_time %}-{{ item.end_time|date:"P" }}{% endif %}</p>
	{% endfor %}
{% endif %}