<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="no-js">
<head>
<title>{% block title %}Journal Staff Site - {% block pagetitle %}{% endblock %}{% endblock title %}</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/staff.css" />
{% block scripts %}{% endblock scripts %}
</head>
<body>
<div id="header-banner">
	<div id="header-container" class="header-container clearfix">
		<a href="/staff/"><img src="{{ STATIC_URL }}img/journal-internal-logo.jpg" id="logo" /></a>
		<div id="userinfo">{% ifnotequal user.username '' %}Logged in as <strong>{{ user.username }}</strong> - <a href="{% url staff.views.user_logout %}">Logout</a>{% else %}Not logged in{% endifnotequal %}</div>
		<div id="dateline">{% block staffapp %}{% endblock staffapp %}<br/>{% now "F j, Y" %} - {% now "P" %}</div>
	</div>
</div>

<div id="body-container" class="clearfix" class="{% block content-class %}{% endblock %}">
	{% block menu %}{% endblock menu %}
	<div id="objects-container{% block content-element-suffix %}{% endblock content-element-suffix %}">
		<div id="content-header" class="clearfix">
			{% block header-topline %}{% endblock header-topline %}
			<h1>{% block header %}{% endblock header %}</h1>
			{% block actions %}{% endblock actions %}
		</div>
		<div id="content">
			{% block content %}
			{% endblock content %}
		</div>
	</div>
	{% block sidebar-element %}<div id="sidebar">{% endblock sidebar-element %}
		{% block sidebar %}
		{% endblock sidebar %}
	{% block sidebar-element-end %}</div>{% endblock sidebar-element-end %}
</div>

</body>
</html>