@import "project";
@import "compass/reset";
@import "compass/css3/box-sizing";

* {
  @include box-sizing(border-box);
}

body {
  font-size: $font_base;
  color: $colour_dark_slate;
}

h1, h2, h3, h4, h5 {
  color: $colour_dark_slate;

  a {
    color: $colour_dark_slate;
  }
}

h5 {
  // list item titles
  @include serif(1.3em);
  margin: 0 auto 0.25em;
}

p {
  color: $colour_dark_slate;
}

a {
  color: #0072bc;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  @include container;
}

header {
  margin: 1em auto 0;
  padding: 1em 0 0;
  border-top: $divider;
  text-align: center;
}

$header_sub_top: 0.4em;
.header-sub {
  position: relative;
  margin-top: 1em;
  padding: $header_sub_top 0 0.25em;
  border-top: $divider;
  @include futura;
  text-transform: uppercase;
}

.header-left {
  @include span-columns(4);
  position: absolute;
  top: $header_sub_top;
  left: 0;
  text-align: left;
}

.header-right {
  @include span-columns(4 omega);
  position: absolute;
  top: $header_sub_top;
  right: 0;
  text-align: right;
}

nav {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin-bottom: 1em;
  background-color: $colour_mid_slate;
  @include futura();
  text-transform: uppercase;
  letter-spacing: 1px;

  ul {
    display: table-row;
  }

  li {
    display: table-cell;
    text-align: center;
  }

  a {
    width: 100%;
    display: inline-block;
    padding: 0.5em 0;
    color: #fff;
    text-decoration: none;

    &:hover {
      background-color: lighten($colour_mid_slate, 20%);
    }
  }
}

// columns
// -------
.rail-left {
  @include span-columns(3);
}

.main {
  @include span-columns(6);
}

.rail-right {
  @include span-columns(3 omega);
}

// footer
// ------
footer {
  @include container;
  margin-top: 1em;
  padding-top: 1em;
  margin-bottom: 3em;
  border-top: $divider;
  @include serif;

  address {
    margin-top: 0.5em;
  }

  a:hover {
    text-decoration: underline;
  }
}

.footer-left {
  @include span-columns(5);
  padding-right: 1em;
  border-right: $divider;
}

.footer-right {
  @include span-columns(7 omega);
}

.footer-link-col {
  @include span-columns(4);

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  a {
    color: $colour_dark_slate;
  }

  &.last-child {
    @include span-columns(4 omega);
  }
}
