/* line 17, ../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, layout.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, layout.scss */
body {
  font-size: 16px;
  color: #2d3840;
}

/* line 14, layout.scss */
h1, h2, h3, h4, h5 {
  color: #2d3840;
}
/* line 17, layout.scss */
h1 a, h2 a, h3 a, h4 a, h5 a {
  color: #2d3840;
}

/* line 22, layout.scss */
h5 {
  font: normal 1.3em "utopia-std", serif;
  font-weight: 400;
  margin: 0 auto 0.25em;
}

/* line 28, layout.scss */
p {
  color: #2d3840;
}

/* line 32, layout.scss */
a {
  color: #0072bc;
  text-decoration: none;
}

/* line 37, layout.scss */
img {
  max-width: 100%;
}

/* line 41, layout.scss */
.container {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 45, layout.scss */
header {
  margin: 1em auto 0;
  padding: 1em 0 0;
  border-top: 1px solid #2d3840;
  text-align: center;
}

/* line 53, layout.scss */
.header-sub {
  position: relative;
  margin-top: 1em;
  padding: 0.4em 0 0.25em;
  border-top: 1px solid #2d3840;
  font: normal 16px "futura-pt", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 62, layout.scss */
.header-left {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  position: absolute;
  top: 0.4em;
  left: 0;
  text-align: left;
}

/* line 70, layout.scss */
.header-right {
  width: 32.20339%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  position: absolute;
  top: 0.4em;
  right: 0;
  text-align: right;
}

/* line 78, layout.scss */
nav {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin-bottom: 1em;
  background-color: #4d5961;
  font: normal 16px "futura-pt", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 88, layout.scss */
nav ul {
  display: table-row;
}
/* line 92, layout.scss */
nav li {
  display: table-cell;
  text-align: center;
}
/* line 97, layout.scss */
nav a {
  width: 100%;
  display: inline-block;
  padding: 0.5em 0;
  color: #fff;
  text-decoration: none;
}
/* line 104, layout.scss */
nav a:hover {
  background-color: #7d8d97;
}

/* line 112, layout.scss */
.rail-left {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 116, layout.scss */
.main {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 120, layout.scss */
.rail-right {
  width: 23.72881%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}

/* line 126, layout.scss */
footer {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  padding-top: 1em;
  margin-bottom: 3em;
  border-top: 1px solid #2d3840;
  font: normal 16px "utopia-std", serif;
  font-weight: 400;
}
/* line 38, ../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
footer:after {
  content: "";
  display: table;
  clear: both;
}
/* line 134, layout.scss */
footer address {
  margin-top: 0.5em;
}
/* line 138, layout.scss */
footer a:hover {
  text-decoration: underline;
}

/* line 143, layout.scss */
.footer-left {
  width: 40.67797%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  padding-right: 1em;
  border-right: 1px solid #2d3840;
}

/* line 149, layout.scss */
.footer-right {
  width: 57.62712%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}

/* line 153, layout.scss */
.footer-link-col {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 156, layout.scss */
.footer-link-col ul {
  list-style-type: none;
  padding-left: 0;
}
/* line 161, layout.scss */
.footer-link-col a {
  color: #2d3840;
}
/* line 165, layout.scss */
.footer-link-col.last-child {
  width: 32.20339%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
