@import "project";

@import "icons";

.ad {
  margin: 1em auto;
  text-align: center
}

.bento-image-box {
  // bento
  text-align: center;

  .container--nav & img {
    margin-bottom: 1em;
  }
}

.list-header {
  @include blue-border-bottom();
  margin-bottom: 1em;
  @include futura(1.1em);
  color: $colour_blue;
  text-transform: uppercase;
}

.label {
  // story label for related section, tags
  @include serif();
  line-height: 1em;
  color: $colour_blue;
  text-transform: uppercase;
  text-decoration: none;
}

.deck {
  @include futura(1.25em);
  color: $colour_mid_slate;
}

.pub-date {
  @include futura(0.8em);
  color: $colour_slate_light;
}

.list-caption {
  margin-bottom: 0.5em;
  @include serif;
}

.stories-list {
  // basic styling for any condensed list of content items

  li {
    padding: 0.5em 0;
    border-bottom: 1px solid $colour_blue_light;
    @include futura;

    &.first-child {
      padding-top: 0;
    }
  }

  .label {
    font-size: 0.8em;
    color: $colour_slate_light;
  }

  a:hover {
    h5 {
      text-decoration: underline;
    }
  }
}

.carousel--featured {
  text-align: center;
  padding-bottom: 50px;

  .image-wrap {
    position: relative;
  }

  img {
    margin-bottom: 0.5em;
  }

  h2 {
    @include serif;
    font-size: 3em;
    line-height: 1.1em;
    margin-bottom: 0.15em;
  }

  a:hover h2 {
    color: $colour_mid_slate;
  }
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  background: $colour_dark_slate;

  &.active {
    margin: 1px;
    width: 10px;
    height: 10px;
    background: $colour_blue;
  }
}

.cta {
  @include futura($weight:'bold');

  &:hover {
    text-decoration: underline;
  }
}

.cta--right {
  text-align: right;
}

.stories-blocks {
  margin-top: 1em;
}

.stories-blocks--story {
  float: left;
  width: 50%;
  padding-bottom: 1em;

  &.odd {
    clear: left;
    padding-right: 0.5em;
  }

  &.even {
    padding-left: 0.5em;
  }

  .label {
    @include blue-border-bottom;
    margin-bottom: 0.5em;
  }

  a:hover {
    text-decoration: underline;
  }

  h4 {
    @include serif(1.6em);
    margin: 0.25em auto 0.25em;
  }

  h5 {
    @include futura(1em);
  }
}

// Item Detail modules
// -------------------

.breadcrumb {
  margin-bottom: 1em;
  @include futura;

  a {
    &:after {
      content: ' >';
      position: relative;
      top: 0.05em;
      color: $colour_dark_slate;
    }
  }

  .last-child:after {
    content: '';
  }
}

.item__deck {
  margin-top: 0.25em;
  font-size: 1.5em;
}

.item__byline {
  margin-top: 1em;
}

.item__pub-date {
  margin-top: 0.25em;
  color: $colour_mid_slate;
  font-size: 0.9em;
}

// Front Page
// ----------

// Issue Detail Section Preview
.sct-preview {
    .first-story {
        float: left;
        width: $column-width;
        margin-right: $gutter-width;

        img {
            margin-bottom: 1em;
        }
    }
}

.search {
  input {
    width: 100%;
    padding: 0.25em;
    margin-bottom: 1em;
    border: 1px solid $colour_mid_slate;
    @include futura;
    @include placeholder {
      color: $colour_dark_slate;
    }
  }
}

.featured {
  h5 {
    &:hover {
      text-decoration: underline;
    }
  }
}

.featured--video {
  .video-thumb {
    position: relative;

    .glyphicon {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      font-size: 3.5em;
      line-height: 0;
      text-align: center;
      color: #fff;
      opacity: 0.7;
    }
  }
}

.hot-topics {
  background-color: $colour_dark_slate;

  > * {
    display: inline-block;
    padding: 0.5em;
  }

  h3 {
    color: $colour_orange;
    @include serif(1.1em, 'bold');
  }

  a {
    color: #fff;;
    @include futura;

    &:hover {
      background-color: $colour_mid_slate;
    }
  }
}

// sub-footer social
$social_block_height: 400px;
.social-block {
  @include span-columns(4);

  &.last-child {
    @include span-columns(4 omega);
  }
}

.twitter-timeline {
  height: $social_block_height;
}

// Archives
// --------
.archive-list {
  li {
    float: left;
    width: 50%;

    &:nth-child(1n) {
      padding-right: 1em;
    }

    &:nth-child(2n) {
      padding-left: 1em;
    }
  }
}

.issuu-embed {
  margin: 1em auto;
}
