{% extends "stories/single_detail.html" %}
{% load navigation %}

{% block title %}Page not found {{ block.super }}{% endblock %}
{% block breadcrumb %}<a href="/">Home</a>{% endblock breadcrumb %}
{% block actions %}<p>&nbsp;</p>{% endblock actions %}
{% block content %}
	<div class="story">
	<h2 style="margin-bottom: 0.5em">404 - Page not found</h2>
	<p>The page you were looking for could not be found. Chances are
you followed a bad link or mistyped the URL. If you clicked on a
link on the Journal site and arrived here, please <a
href="mailto:journal_web@ams.queensu.ca">e-mail the
webmaster</a> with the link that led you to this page. Otherwise,
feel free to search the archives or select an issue from the sidebar
on the right.</p>
	</div>
	<form name="mainsearch" method="get" action="/search/" class="search-page">

			<div class="search-input">

				<input type="text" name="q" id="id_q" />
			</div>
			<div>
				Search in:
			</div>
			<div class="model-select">

				<ul>
	<li><label for="id_models_0"><input type="checkbox" name="models" value="blog.entry" id="id_models_1" /> Entries</label></li>
	<li><label for="id_models_1"><input type="checkbox" name="models" value="stories.story" id="id_models_2" /> Stories</label></li>
	</ul>
			</div>
			<div class="search-submit">
				<input type="submit" value="Search">
			</div>
		</form>
{% endblock content %}
