{% extends "base.html" %}
{% load navigation %}
{% load sidebartags %}
{% load custom_html %}
{% load flash %}

{% load latest_content %}
{% load since %}

{% block headcode %}<link rel="alternate" type="application/rss+xml" title="Latest stories feed (RSS 2.0)" href="/rss/latest/" />
{% endblock headcode %}

{% block issue-banner %}
{% if config.issue.extra %}
<div id="issue-banner" class="clearfix">
    <h1>{{ config.issue.extra }}</h1><h4>A special issue of the Journal</h4>
</div>
{% endif %}
{% endblock issue-banner %}

{% block content-class %} span-19 front-content{% endblock %}

{% block content %}

<div class="block">

    {% load bento_tags %}
    {% show_image_box 'front-banner' %}

    <div class="featured column span-16 colborder"><!--featured box-->

        <div id="slider-wrapper">

            <div id="slider" class="nivoSlider" style="margin-right: 0px;">
                {% for story in config.featuredstory_set.all %}
                    <img src="{{ story.display.url }}" alt="{{ story.story.head }}" class="slideshow-featured-img" title="#caption{{ story.story.id }}"/>
                {% endfor %}
            </div>
            {% for story in config.featuredstory_set.all %}
            <div id="caption{{ story.story.id }}" class="nivo-html-caption">
                <p class="slider-story label">{% if story.story.tags %}<a href="/tag/{{story.story.label|striplabel|slugify}}/">
                    {{ story.story.tags|striplabel }}</a>{% else %}{% firstof story.story.label "Story" %}{% endif %}</p>
                <h2><a href="{{ story.story.get_absolute_url }}">{{ story.story.head|striptags|choptext:"42"|stripspace|convert_entities|safe }}</a></h2>
                {{ story.story.summary|stripspace|convert_entities|truncatewords:38|safe }}
                <!--<p class="slider-readmore"><a href="{{ story.story.get_absolute_url }}">Full Story</a></p>-->
            </div>
            {% endfor %}

        </div>

    </div><!--featured box-->

</div><!--block-->

<div class="hr dblmargin"><hr></div>

<div class="block">

    <div id="section-stories" class="column span-24 last">

        {% for story in latest_section %}
        <div class="latest-section">
            <p class="label section-label"><a href="{% url "sections.views.section_detail" story.section|slugify %}">{{ story.section }}</a></p>
            <a href="{{ story.get_absolute_url }}"><img src="{{ story.story_thumb.front_image.url }}" />
                <h2 class="latest-section-head"><a href="{{ story.get_absolute_url }}">{{ story.head }}</a></h2>
                <p class="latest-section-summary">{{ story.summary }}</p>
                <p class="pub_date">Posted {{ story.pub_date|since }} ago</p>
            </div>
            {% endfor %}

            <div id="sidebar" class="latest">

                {% if config.announce_head and config.announce_body %}
                <div class="announcement">
                    <h3>{{ config.announce_head|stripspace|convert_entities|widont }}</h3>
                    {{ config.announce_body|linebreaks|convert_entities|typogrify }}
                    <hr>
                </div>
                {% endif %}

                <ul><h3>From the Blogs <span class="feed"><a href="/rss/allblogs/"><img src="{{ STATIC_URL }}img/feed-small.png" />RSS Feed</a></span></h3>
                    {% for entry in latest_entries %}
                    <li>
                        <p class="label">{{ entry.blog.title }}</p>
                        <h5><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h5>
                        <p class="pub_date">{{ entry.pub_date|since }} ago</p>
                    </li>
                    {% endfor %}
                </ul>

                <div class="hr"><hr/></div>

                <fb:recommendations site="http://www.queensjournal.ca" width="220" height="450" header="true" font="" border_color=""></fb:recommendations>

            </div><!--sidebar-->

        </div>

    </div><!--block 2-->

    {% endblock content %}

{% load solo_tags %}
{% load typogrify_tags %}

{% block rail-left %}
<ul class="stories-list stories-list--latest">
  <h3 class="list-header">The Latest</h3>
  {% get_latest_content as latest %}
  {% for item in latest %}
  <li>
    <a href="{{ item.get_absolute_url }}">
      <p class="label">{{ item.label }}</p>
      <h5>{{ item.title|typogrify }}</h5>
      <p class="pub-date">{{ item.pub_date | since }} ago</p>
    </a>
  </li>
  {% endfor %}
</ul>
{% endblock %}

{% block main %}
  {% get_solo "config.SiteConfig" as config %}

  {% for story in config.featured_stories.all %}
  <h2>{{ story.title }}</h2>
  {% endfor %}
{% endblock %}

{% block rail-right %}
  {% load video_tags %}
  {% get_featured_video as video %}
  {% if video %}
  <div id="latest-video">
    <h3>Featured Video: <span class="feed"><a href="{% url "video.views.video_index" %}">More Videos &gt;&gt;</a></span></h3>
    <hr>
    <div class="video-thumb">
      <a href="{{ video.get_absolute_url }}"><img src="{{ video.front_image.url }}" /><span class="play-img"><img src="{{ STATIC_URL }}img/play.png"></span>
        <h2 class="latest-section-head">{{ video.name }}</h2></a>
    </div>
    <p class="latest-section-summary">{{ video.caption|convert_entities|truncatewords:18|safe }}</p>
    <p class="pub_date">Posted {{ video.pub_date | since }} ago</p>
  </div>
  {% endif %}
{% endblock %}
