{% extends 'base.html' %}
{% load navigation %}
{% load typogrify %}
{% load custom_html %}
{% load sanitize %}
{% load comparison %}
{% load tagging_tags %}
{% load shorturl %}

    {% block meta %}
    <meta name="description" content="{{ story.summary }}" />
    {% endblock meta %}

    {% block facebook %}
    <meta property="og:title" content="{{ story.head }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{% shorturl story %}" />
    <meta property="og:image" content="{{ story.story_thumb.thumbnail_image.url }}" />
    <meta property="og:site_name" content="The Queen&#039;s Journal" />
    <meta property="fb:admins" content="1653600047" />
    {% endblock facebook %}

    {% block js %}
    {% if story.gallery_set.all %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    {% endif %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/print_preview.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/plusone.js"></script>
    {% endblock %}

    {% block css %}
    {% if story.gallery_set.all %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
    {% endif %}
    <link rel="alternate stylesheet" type="text/css" href="{{ STATIC_URL }}css/journal_print_preview.css" media="screen" title="Print Preview" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/journal_print.css" media="print" />
    {% endblock %}

    {% block title %}{{ story.head }} - {{ block.super }}{% endblock title %}

    {% block header-type %}secondary{% endblock header-type %}
    {% if story.issue %}
    {% block issueline %}Vol. {{ story.issue.volume.volume}}, Issue {{ story.issue.issue }}{% endblock issueline %}
    {% endif %}

{% if story.issue %}
    {% block menu-stories %}
    {% other_stories story.section story.issue %}
    {% if other_stories %}
    <p class="menu-label">Other stories in {{ story.section.name }}</p>
    <ul>
        {% for other_story in other_stories %}
        <li><a href="{{ other_story.get_absolute_url }}">{{ other_story.head }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endblock menu-stories %}
{% endif %}

{% block content %}
<div id="story" class="story clearfix">
    {% block breadcrumb %}<div id="breadcrumb"><a href="/" class="homelink">Home</a><span class="divider"></span>{% if story.issue %} <a href="{% url archive-volume-index story.issue.volume.volume %}">Volume {{ story.issue.volume }}</a><span class="divider"></span><a href="{% url archive.views.archive_issue_index story.issue.pub_date %}">Issue {{ story.issue.issue }} &#151; {{ story.issue.pub_date|date:"F j, Y" }}</a><span class="divider"></span><a href="{% url archive.views.section_index story.issue.pub_date story.section.slug %}" class="section">{{ story.section }}</a>{% else %} <a href="{% url stories.views.index_section story.section.slug %}" class="section">{{ story.section }}</a>{% endif %}</div>{% endblock %}

    <div class="pub-date">{{ story.pub_date|date:"jS F Y" }}</div>
    <h1 class="story-head">{{ story.head|stripspace|convert_entities|widont }}</h1>
    <h4 class="story-deck">{{ story.deck|stripspace|convert_entities|widont }}</h4>
    <p class="story-byline">{% ifnotequal story.list_authors '[no author]' %}By {{ story.list_authors|safe }}{% endifnotequal %}</p>

    {% if story.storyphoto_set.all|length > 0 %}
    <div id="top-photo" class="story" style="{% if story.first_photo.first.width < 500 %}float:right;{% endif %}width:{{story.first_photo.first.width}}px">
        <img src="{{ story.first_photo.first.url }}" alt="{{story.first_photo.caption|striptags}}"/>
        <div id="caption-top">
            {{ story.first_photo.caption }}{% ifnotequal story.first_photo.list_photographer '[no credit]' %} ({{ story.first_photo.list_photographer|safe }}){% endifnotequal %}
        </div>
    </div>
    {% endif %}

    <div id="story-socmedia">
        <p class="label">Share<p>
                <hr>
                <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="{% shorturl story%}" layout="button_count" show_faces="false" width="100" font=""></fb:like>
                <br/>
                <a href="http://twitter.com/share" class="twitter-share-button" data-url="{% shorturl story %}" data-count="horizontal" data-via="queensjournal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
                <br/>
                <a href="http://www.reddit.com/submit" onclick="window.location = 'http://www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false"> <img src="http://www.reddit.com/static/spreddit7.gif" alt="submit to reddit" border="0" /> </a>
                <br/>
                <g:plusone></g:plusone>
                <hr>
                {% tags_for_object story as tags %}
                {% if tags %}
                <h4>Article tags:</h4>
                <ul>
                    {% for tag in tags %}
                    <li><a href="/tag/{{tag.name|urlencode}}/">{{ tag }}</a></li>
                    {% endfor %}
                </ul>{% endif %}
                <ul class="story-actions">
                    <li><a href="javascript:print_preview()">print <img src="{{ STATIC_URL }}img/icon_print.gif" /></a></li>
                    <hr>
                    <li><span class="label">Short URL:</span>
                        <form action="" method="get">
                            <input type="text" id="shorturl" onclick="this.select();" value="{% shorturl story %}" readonly="false" />
                    </form></li>
                </ul>
                {% revcanonical story %}

            </div>

            {% if story.show_headshots %}
            {% for sauthor in story.storyauthor_set.all %}
            <div class="headshot"><img src="{{ sauthor.author.headshot.display.url }}" /><br/>
                <a href="{{ sauthor.author.get_absolute_url }}">{{ sauthor.author.name }}</a></div>
            {% endfor %}
            {% endif %}

            {% if story.has_inlines %}
            <div class="story-inlines">
                {% for factbox in story.factbox_set.all %}
                {% if not factbox.full_width %}
                <div class="inline-container factbox">
                    <h4>{{ factbox.head|widont }}</h4>
                    {{ factbox.body|sanitize:"h4 strong em a ul li table tr td tbody thead tfoot th,"|typogrify|convert_entities|linebreakswithcode|safe }}
                    {% if factbox.source %}<p class="factbox-source">&mdash;{{ factbox.source }}</p>{% endif %}
                </div>
                {% endif %}
                {% endfor %}
                {% for document in story.document_set.all %}
                <div class="inline-container document">
                    <h4>{{ document.head|widont }}</h4>
                    {% if document.body %}<p>{{ document.body|typogrify|convert_entities }}</p>{% endif %}
                    <ul>
                        {% for file in document.files.all %}
                        <li>{% filter widont %}<a href="{{ file.get_file_obj_url }}">{{ file.name }}</a> <span class="doc-details">({{ file.get_file_obj_size|filesizeformat }})</span>{% endfilter %}{% if file.caption %}<p class="doc-caption">{{ file.caption }}</p>{% endif %}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
                </div>
                {% endif %}
                <div class="story-content">

                    {% if story.storyphoto_set.all|length > 1 %}
                    {{ story.content|paragraphs:'0:12'|typogrify|convert_entities|linebreakswithcode|safe|urlizetrunc:50 }}

                    {% for photo in story.other_photos %}
                    <div class="other-photo">
                        <img src="{{ photo.photo.other.url }}" alt="{{photo.photo.caption|striptags}}">
                        <div id="caption-top">
                            {{ photo.photo.caption }}{% ifnotequal photo.photo.list_photographer '[no credit]' %} ({{ photo.photo.list_photographer|safe }}){% endifnotequal %}
                        </div>
                    </div>
                    {% endfor %}

                    {{ story.content|paragraphs:'12:'|typogrify|convert_entities|linebreakswithcode|safe|urlizetrunc:50 }}

                    {% else %}

                    {{ story.content|typogrify|convert_entities|linebreakswithcode|safe|urlizetrunc:50 }}

                    {% endif %}

                    {% if story.gallery_set.all %}
                    {% for gallery in story.gallery_set.all %}
                    <div class="gallery-container">
                        <h4><strong>Gallery &gt;&gt;</strong> {{ gallery.name|widont }}</h4>
                        <div class="thumbs-container">
                            {% for image in gallery.images.all %}
                            <a class="gallery" rel="{{ gallery.name|slugify }}" href="{{ image.gallery_image.url }}"{% if image.caption %} title="{{ image.caption|escape }} ({{ image.list_photographer|striptags }})"{% endif %}><img src="{{ image.thumbnail_image.url }}" alt="{{ image.caption }}"/></a>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% if story.has_wide_inlines %}
                    {% for factbox in story.factbox_set.all %}
                    {% if factbox.full_width %}
                    <div class="inline-container factbox">
                        <h4>{{ factbox.head|widont }}</h4>
                        {{ factbox.body|sanitize:"h4 strong em a ul li table tr td th tbody thead tfoot,"|typogrify|convert_entities|linebreakswithcode|safe }}
                        {% if factbox.source %}<p class="factbox-source">&mdash;{{ factbox.source }}</p>{% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}

                    {% include "ads/in-story.html" %}

                        {% if story.enable_comments %}
                        {% load disqus_tags %}
                        {% disqus_show_comments %}
                        {% endif %}

                    </div>
                </div>
                {% endblock content %}
                <!-- google_ad_section_end -->


    {% block footercode %}
    {% if story.gallery_set.all %}
    $(document).ready(function() {
        $("a.gallery").fancybox({
            'titlePosition'  : 'inside'
        });
        $("div.thumbs-container a:nth-child(6n)").addClass('last')
    });
    {% endif %}
    $("#shorturl").focus(function(){
        // Select input field contents
        this.select();
    });
    {% endblock footercode %}
