{% extends 'front.html' %}

{% block body_class %}issue-detail{% endblock %}

{% block headcode %}<link rel="alternate" type="application/rss+xml" title="Latest stories feed (RSS 2.0)" href="/rss/latest/" />
{% endblock headcode %}

    {% block title %}{{ issue.pub_date|date:"F j, Y" }} - {{ issue }} - {{ block.super }}{% endblock title %}

    {% block issue-banner %}
        {% if config.issue.extra %}
            <div id="issue-banner" class="clearfix">
                <h1>{{ config.issue.extra }}</h1><h4>A special issue of the Journal</h4>
            </div>
        {% endif %}
    {% endblock issue-banner %}

    {% block content-class %} span-19 front-content{% endblock %}

    {% block content %}
    {% block breadcrumb %}<div id="breadcrumb"><a href="/" class="homelink">Home</a><span class="divider"></span><a href="{% url archive.views.archive_index %}">Archives</a><span class="divider"></span><a href="{% url archive.views.archive_volume_index issue.volume.volume %}">Volume {{ issue.volume }}</a></div>{% endblock %}
        <div class="section-header">
            <h1>Issue {{ issue.issue }} - {{ issue.pub_date|date:"F j, Y" }}</h1>
        </div>

    <div class="hr dblmargin"><hr></div>

    <div class="block">

        <div id="section-stories" class="column span-24">

            {% for section in sections %}
                <div class="sct-preview">
                    <h2>
                        {{ section.name|capfirst }}
                    </h2>

                    {% with section.stories|first as story %}
                    <div class="first-story">
                        <a href="{{ story.get_absolute_url }}"><img src="{{ story.story_thumb.front_image.url }}" alt="{{ story.head }}"/></a>

                        <h3>
                            {% if story.story_thumb %}
                            {% endif %}
                            <a href="{{ story.get_absolute_url }}">{{ story.head }}</a>
                        </h3>

                        <p>{{ story.summary }}</p>
                    </div>
                    {% endwith %}

                    {% for story in section.stories|slice:"1:" %}
                        <h3><a href="{{ story.get_absolute_url }}">{{ story.head }}</a></h3>
                    {% endfor %}
                </div>
            {% endfor %}

        </div>

    </div><!--block 2-->

    {% endblock content %}
