/* Hacks */
.clearfix:after {
	clear:both;
	content:".";
	display:block;
	height:0pt;
	visibility:hidden;
}
/* Global typography */

/* Load in the headline font */
@font-face {
	font-family: ClassGaramond; src: url('../otf/classgaramond.otf');
}
body {
	background-color: #eee;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}
/*Headlines: Big, Normal, Sub */
h1, h2, h3 {
	font-family: ClassGaramond, Garamond, Times, serif;
}

.hr-dbl hr {
	border-style: none;
	border-bottom: 1px solid #888;
	border-top: 1px solid #888;
	clear: both;
	display: block;
	font-size: 0px;
	height: 3px;
	line-height: 5px;
	margin: 10px auto;
	max-height: 5px;
	padding: 0px;
	position: relative;
	width: 100%;
	}
	
hr {
	border-style: none;
	border-bottom: 1px solid #aaa;
	clear: both;
	display: block;
	font-size: 0px;
	height: 0px;
	line-height: 0px;
	margin: 10px auto;
	max-height: 0px;
	padding: 0px;
	position: relative;
	width: 100%;
	}
	
.dblmargin {
	margin: 0.5em 0 0.5em 0 !important;
}
	
.colborder {
	padding-right: 2%;
	margin-right: 2%;
	border-right: 1px solid #aaa;
	}
.colborder-blank {
	padding-right: 2%;
	margin-right: 2%;
	}

p{
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 1.5em;
}
blockquote {
	font-size: 1em;
	line-height: 1.5em;
	margin: 0 3em 1.5em;
}
li {
	font-size: 1em;
	line-height: 1.5em;
}
a {
	color: #2d81ab;
	text-decoration: none;
}
a img {
	border: 0;
}

.chopped span {
  	position: absolute;
	text-indent: -999em;
}
.label {
	text-transform: uppercase;
	font: 0.8em bold Helvetica, Arial, sans-serif;
	line-height: 0.85em;
	margin-bottom: 5px;
}

/* Global layout */

/* =GLOBAL-CONTENT */
#container {
	-moz-box-shadow: 3px 5px 10px #888;
	-webkit-box-shadow: 3px 5px 10px #888;
	box-shadow: 3px 5px 10px #888;
	width: 960px;
	padding: 1px 10px;
	margin: 0 auto;
	background-color: #fff;
}
	#header-ad {
		position: relative;
		margin: 10px auto 0 auto;
	}
	
	#content-ad {
	height: 60px;
	margin-top: 0px;
	margin-bottom: 7px;
	}
	
	#topbar a, .menu a, #footer-container a {
		color: #2d81ab;
	}
		#connect {
			font: 0.9em bold Helvetica, Arial, sans-serif;
			float: right;
			position: relative;
			top: 4px;
		}
		#connect a {
			color: white;
		}
		#connect img {
			position: relative;
			top: 4px;
			margin-left: 5px;
		}
		#actions input, .menu select {
			float: left;
			margin: 0.5em 0;
			padding: 2px;
			width: 200px;
		}
	
	.story-label, .menu-label, .blog-label {
		font-size: 1.2em;
		font-weight: bold;
		letter-spacing: 1px;
		line-height: 1.2em;
		margin: 0;
		text-transform: uppercase;
	}
	.story-label, .blog-label {
		color: #0192cd;
	}
	.story-head a, .otherstory-head a {
		font-weight:normal;
		color: #000;
	}
	.story-head a:hover, .otherstory-head a:hover {
		color: #2d81ab;
	}
	.story-head {
		margin-top: -0.17em;
	}
	
/* =GLOBAL-HEADERS */
#header-container {
	padding: 10px;
	background-color: #0b67a3;
	color: white;
	font-family: ClassGaramond, Garamond, Times, serif;
}

	#dateline, #issueline {
		font-weight: bold;
		letter-spacing: 0.2em;
		text-transform: uppercase;
	}
	#hr-header hr {
		border-bottom: 2px solid #fff;
		display: block;
		font-size: 1px;
		height: 0px;
		line-height: 0;
		margin: 10px auto;
		max-height: 0px;
		padding: 0px;
		position: relative;
		width: 100%;
	}
	#logo-print {
		display: none;
	}
	#header-slogan {
		padding-top: 10px;
		font-size: 1.3em;
		font-variant: small-caps;
		letter-spacing: 0.2em;
		}
		
/* =GLOBAL-MENU */
.menu {
	
}
	#menu-ad {
		width: 100%;
		height 600px;
		margin-top: 20px;
		text-align: center;
	}
	#menu-ad2 {
		margin-top: 20px;
	}

.menu-bar {
	width: 100%;
	display: table;
	table-layout: fixed;
	background-color: #0b67a3;
	margin-bottom: 1em;
	}

	.menu-bar ul {
		display: table-row;
		list-style-type: none;
	}

	.menu-bar ul li {
		padding: 6px 0 4px 0;
		font: 1.05em 'Myriad Pro', 'Myriad', Helvetica, Arial, Verdana, sans-serif;
		
		display: table-cell;
		text-align: center;
		
		-moz-border-radius-topleft: 7px;
	   	-moz-border-radius-topright: 7px;
	    -moz-box-shadow: #999 0 2px 5px;
		-moz-box-shadow: inset 0 0 3px #000;
		-webkit-box-shadow: inset 0 0 3px #000;
	    -webkit-box-shadow: #999 0 2px 5px;
	    -webkit-border-top-right-radius: 7px;
	    -webkit-border-top-left-radius: 7px;
	    border-top-left-radius: 7px;
	    border-top-right-radius: 7px;
	    box-shadow: #999 0 2px 5px
		box-shadow: inset 0 0 3px #000;
	}
	
	.menu-bar ul li:hover {
		color: #555;
		background-color: #CAD2E4;

		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#CAD2E4'); /* for IE */
		background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#CAD2E4)); /* for webkit browsers */
		background: -moz-linear-gradient(top,  #fff,  #CAD2E4); /* for firefox 3.6+ */
	}

	.menu-bar ul li a {
		color: #222;
		text-shadow: 0px 1px 0px #ddd;
		width: 100%;
		height: 100%;
		}
	
	.menu-bar ul li a span {
		display: block;
		height: 16px;
		width: 100%;
	}
	
	li.section-other {
		background-color: #DEE4F6;

		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#DEE4F6'); /* for IE */
		background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#DEE4F6)); /* for webkit browsers */
		background: -moz-linear-gradient(top,  #fff,  #DEE4F6); /* for firefox 3.6+ */
	}
	
	li.section-current {
		background-color: #fff;
		
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#7C92CF'); /* for IE */
		background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.6, #C5D4ED), to(#7C92CF)); /* for webkit browsers */
		background: -moz-linear-gradient(top,  #fff,  #7C92CF); /* for firefox 3.6+ */
	}
	li.section-special {
		background-color: #DEE4F6;
		
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#F2D4AD'); /* for IE */
		background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.75, #F2EADE), to(#F2D4AD)); /* for webkit browsers */
		background: -moz-linear-gradient(top,  #fff,  #F2D4AD); /* for firefox 3.6+ */
	}
	.menu-bar ul li.section-special:hover {
		color: #555;
		background-color: #EFC582;

		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#EFC582'); /* for IE */
		background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#EFC582)); /* for webkit browsers */
		background: -moz-linear-gradient(top,  #fff,  #EFC582); /* for firefox 3.6+ */
	}
	
	/*=DISQUS-WIDGET */
	#dsq-combo-widget {
		margin-right: 0;
	}
	#dsq-combo-logo {
		display: none;
	}
	#dsq-combo-tabs li a {
		color: black;
	}
	

/* =GLOBAL-FOOTERS */
#footer-container {
	margin: 0 auto;
	clear: both;
}
#footer-ad {
	width: 900px;
	height: 90px;
	margin-bottom: 20px;
}
	#footer-container #address {
		background-color: #d5e6ee;
		padding-bottom: 3em;
	}
		#footer-container #address p {
			float: left;
			font-family: Helvetica, Arial, sans-serif;
			line-height: 1.5em;
			margin: 1em 1em 0 2em;
		}
		#footer-container #address p#nameplate {
			font-weight: bold;
		}
		
/* =FRONT-PAGES */

	/* =FEATURED-SLIDESHOW */

		#slider-wrapper {
			width: 485px;
			height: 420px;
			background-color: #EEEEEE;
			padding: 10px 0 0 10px;
		}
		#slider {
			position:relative;
		    width:475px;
		    height:300px;
			background:url(images/loading.gif) no-repeat 50% 50%;
			margin-right: 0px !important;
		}
		#slider img {
			position:absolute;
			top:0px;
			left:0px;
			display:none;
		}
		#slider a {
			border:0;
			display:block;
		}
		.nivo-directionNav a {
			display:block;
			width:30px;
			height:30px;
			background:url(images/arrows.png) no-repeat;
			text-indent:-9999px;
			border:0;
		}
		a.nivo-nextNav {
			background-position:-30px 0;
			right:15px;
		}
		a.nivo-prevNav {
			left:15px;
		}
		.nivo-caption {
			padding-top: 10px;
		    text-shadow:none;
			vertical-align:baseline;
		}
		.nivo-caption h2 {
			padding-top: 5px;
			margin-bottom: 0.5em;
		}
		.nivo-caption a {
			color: #0B67A3;
		}
		
	/* =FRONT-LAYOUT */
	
	.dblmargin hr {
		margin-left: 0;
		width: 97.5%;
	}
	.latest ul {
		margin: 0;
		padding: 0;
	}
	.latest ul li {
		margin-bottom: 10px;
		padding: 5px;
		list-style-type:none;
		background-color: #eee;
	}
	/*.latest ul li :hover {
		background-color: #fff;
	}*/
	
	/* LATEST */
		.latest h5 {
			font-weight: bold;
		}
		.latest h3 {
			font: bold Georgia, Times, serif;
		}
		.latest .pub_date {
			margin-bottom: 0;
		}
		.latest .feed {
			float: right;
			position: relative;
			top: 3px;
			font: 12px Helvetica, Arial, sans-serif bold;
		}
		.latest .feed img {
			margin-right: 5px;
			position: relative;
			top: 1px;
		}
		.latest .feed a {
			color: #CD8B42;
		}
		
	/*=LATEST-SECTION */
	.latest-section {
		width: 230px;
		border-bottom: 1px #999 solid;
		margin-bottom: 1.5em !important;
	}
	.section-label {
		font-size: 1em;
		margin-bottom: 0.5em;
	}
	.section-label a {
		color: #444;
		padding-bottom: 1px;
		border-bottom: #444 solid 1px;
	}
	.latest-section img {
		margin: 0.5em 0;
	}
	.latest-section h2 {
		margin-bottom: 0.2em;
		line-height: 1.2em;
	}
	.latest-section h2 a {
		color: #000;
	}
	
	/*=SECTION-FRONT */

	.section-header{
		padding-left: 5px;
		margin-bottom: -1.5em !important;
	}
	.issue-date {
		font-size: 0.75em;
		color: #2D81AB;
	}
	.issue-date-section {
		position: relative;
		float: right;
		top: 15px;
		right: 10px;
		font-size: 0.5em;
	}
	.issue-date-section a {
		color: #2D81AB;
	}
	.latest-section.brick {
		width: 170px;
		margin-right: 10px;
	}
	.latest-section.brick img {
		width: 170px;
	}
	#slider-wrapper.brick {
		width: 530px;
		height: 450px;
		margin-bottom: 20px;
	}
	#slider-wrapper.brick img {
		width: 520px;
		height: 320px;
	}
	#latest-stories.brick {
		background-color: #eee;
		width: 160px;
		padding: 5px;
		border: 0;
	}
	#latest-stories.brick h3 {
		padding-bottom: 5px;
		border-bottom: 1px #999 solid;
	}
	#latest-stories.brick ul {
		padding: 0;
		margin: 0;
	}
	#latest-stories.brick li {
		list-style-type: none;
	}

	
/* =GLOBAL-CONTENT */
	
		#breadcrumb {
			margin: 1em 0 0 0;
		}
		#breadcrumb p {
			font-family: Helvetica, Arial, sans-serif;
			font-size: 1.1667em;
			font-weight: bold;
			line-height: 18px;
			margin: 0;
			text-transform: uppercase;
		}
	#issue-banner {
		background-color: #96c0d5;
		border: 1px solid #2d81ab;
		margin: 2em 0;
	}
		#issue-banner h1 {
			float: left;
			font-variant: small-caps;
			margin: 5px;
		}
		#issue-banner h4 {
			font-style: italic;
			float: right;
			line-height: 2.571em;
			margin: 5px;
		}
	
	.story {
		margin: 1em 0 0 0;
		width: 100%;
	}
		.story-photo {
			border: 1px solid black;
			clear: right;
			float: right;
			margin-left: 1em;
		}
		.story-caption {
			clear: right;
			float: right;
			font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
			font-size: 1em;
			line-height: 1.2em;
			margin: 0.5em 0 0 0;
		}
		.story table {
			border-spacing: 5px;
			clear: right;
		}
		.story table tr td {
			background-color: #eee;
			padding: 10px;
		}
		.story table thead tr td {
			font-weight: bold;
		}
		

/* =SINGLES-CONTENT */

		#story .story-caption {
			margin-bottom: 1.8em;
		}
		/*
		The following rule works in concert with the template code, as we're now setting
		the width of the photo and the caption in the Django template. It's a crappy
		workaround but it's the best we've got if we don't want to screw with the data
		models and introduce a bunch of one-off booleans for "this is a headshot," "this is
		a slightly-narrower-than-normal photo," etc.
		*/
		#story .story-photo, #story .story-caption {
			max-width: 390px;
			width: expression(this.width > 395 ? "390px" : "auto")
		}
		.story-deck {
			width: 450px;
		}
		.story-byline {
			border-top: 1px solid #ccc;
			font-family: Helvetica, Arial, sans-serif;
			font-size: 0.91667em;
			letter-spacing: 1px;
			line-height: 1.8em;
			margin-top: 0.5em;
			text-align: right;
			text-transform: uppercase;
		}
		.story-content p {
			-webkit-font-smoothing: antialiased;
			font-family: Georgia, Times, "Times New Roman", serif;
			font-size: 1.2em;
			line-height: 1.428em;
			margin-bottom: 1.428em;
		}
		.story-content ul, .story-content ol {
			margin: 0 0 1.428em 1.5em;
		}
		.story-content li {
			font-size: 1.1667em;
			line-height: 1.428em;
		}
		.story-content ul li {
			list-style-type: square;
		}
		.story-content ol.lower-roman li {
			list-style-type: lower-roman;
		}
		.story-content ol.lower-alpha li {
			list-style-type: lower-alpha;
		}
		.inline-container {
			background-color: #ddd;
			border: 1px solid #ccc;
			padding: 12px;
		}			
		.story-inlines {
			clear: right;
			float: right;
			margin: 0;
		}
		.story-inlines .inline-container {
			margin: 0 0 1em 1em;
			width: 200px;
		}
		.story-content .inline-container {
			margin: 0 0 1em 0;
			width: 624px;
		}
		.inline-container p {
			font-family: Helvetica, Arial, sans-serif;
			font-size: 1em;
			line-height: 1.5em;
		}
		.inline-container ul {
			margin: 0 0 1.5em;
		}
		.inline-container ul li {
			font-family: Helvetica, Arial, sans-serif;
			font-size: 1em;
			line-height: 1.5em;
			list-style-type: square;
			margin-left: 1.5em;
		}
		.story-content .inline-container h4 {
			text-align: center;
			margin: 0 0 1em;
		}
		.factbox .factbox-source {
			font-style: italic;
			margin: 0;
			text-align: right;
		}
		.document ul li p {
			margin: 0;
		}
		.document ul li .doc-details {
			font-size: 0.91667em;
			line-height: 1.8em;
		}
		.document ul {
			margin: 0;
		}
		.gallery a {
			background-color: #ccc;
			display: block;
			float: left;
			height: 79px;
			margin: 0 10px 10px 0;
			overflow: hidden;
			padding: 8px;
			width: 79px;
		}
		.gallery a img {
			border: 2px solid #c30;
		}
		#story h1.story-head {
			line-height: 1.2em;
		}		
		
	.inline-story-ad {
		float: left;
		position: relative;
		margin: 25px 20px 10px 0;
		display: block;
		}	

/* =MASTHEAD-CONTENT */
#masthead {
}
	#masthead h1 {
		margin-bottom: 0.6em;
	}
	#masthead ul {
		list-style-type: none
	}
	#masthead ul li {
		clear: left;
	}
	#masthead ul li p {
		font-weight: bold;
		margin: 0;
	}
	#masthead ul ul {
		margin-bottom: 1.5em;
	}
	#masthead ul ul li {
		clear: left;
	}
	#masthead ul ul li p {
		font-weight: normal;
		float: left;
		margin: 0;
	}
	#masthead ul ul li p.name {
		margin: 0 1em;
		width: 150px;
	}
	#masthead ul ul li p.email {
		margin: 0 1em;
		width: 200px;
	}
	#masthead ul ul li p.position {
		width: 200px;
	}

/* =FORMS-CONTENT */
.form-container {
}
	.form-container fieldset {
		background-color: #eee;
		border: 1px solid #ccc;
		padding: 1.5em 0.75em;
	}
	.form-container fieldset legend {
		background-color: #eee;
		border: 1px solid #ccc;
		font-family: Helvetica, Arial, sans-serif;
		font-size: 0.91667em;
		font-weight: bold;
		margin-left: 0.5em;
		padding: 0.5em;
		text-transform: uppercase;
	}
	.form-container fieldset div {
		padding: 0.5em;
		margin: 0 0 0.5em;
	}
	.form-container fieldset div.errors {
		background-color: #fdc;
		border: 1px solid #ecb;
	}
	.form-container fieldset div.errors span.error-text {
		color: #a22;
		font-weight: bold;
	}
	
/* =SECTIONALS-CONTENT-SIDEBAR */
#content-sidebar {
	border-left: 1px solid #ccc;
	float: right;
	font-family: Helvetica, Arial, sans-serif;
	padding-left: 20px;
	width: 268px;
}
	#content-sidebar h3 {
		color: #ccc;
		text-align: right;
		text-transform: uppercase;
	}
	#content-sidebar p {
		display: relative;
	}
	#content-sidebar .announcement {
		background-color: #96c0d5;
		border: 1px solid #2d81ab;
		margin-bottom: 1.5em;
	}
	#content-sidebar .announcement h4 {
		background-color: #2d81ab;
		color: white;
		text-align: center;
		text-transform: uppercase;
		padding: 5px;
	}
	#content-sidebar .announcement p {
		font-style: italic;
		margin: 1.5em 0.75em;
	}
	#content-sidebar .announcement a {
		color: #2d81ab;
		font-weight: bold;
	}
	#content-sidebar .sidebar-calendar-date {
		font-family: Helvetica, Arial, sans-serif;
		font-size: 0.91667em;
		font-weight: bold;
		letter-spacing: 1px;
		line-height: 1.2em;
		margin: 1.2em 0 0.6em;
		text-transform: uppercase;
		border-bottom: 1px solid #ccc;
	}
	#content-sidebar .sidebar-calendar-location {
		font-size: 0.91667em;
		line-height: 1.5em;
		margin: 0;
		text-align: right;
		text-transform: uppercase;
	}
	#content-sidebar .sidebar-calendar-time {
		font-size: 0.91667em;
		line-height: 1.5em;
		text-align: right;
		text-transform: uppercase;
	}
	#content-sidebar .sidebar-calendar-details {
		font-size: 0.91667em;
		line-height: 1.5em;
		margin: 0;
	}
	#content-sidebar .sidebar-heads-answer {
		clear: left;
		margin: 0 0 1.5em;
	}
	#content-sidebar .sidebar-heads-location {
		font-size: 0.91667em;
		line-height: 1.5em;
		text-align: right;
	}
	#content-sidebar .sidebar-heads-question {
		margin: 0 0 1.5em;
	}
	#content-sidebar .sidebar-heads-image {
		border: 1px solid black;
		float: left;
		height: 90px;
		margin-right: 1em;
		width: 100px;
	}
	#content-sidebar .sidebar-heads-quote {
		float: right;
		margin-bottom: 0.5em;
		width: 150px;
	}
	#content-sidebar .sidebar-heads-person {
		clear: right;
		float: right;
		font-size: 0.91667em;
		line-height: 1.5em;
		margin: 0;
		text-align: right;
		text-transform: uppercase;
		width: 125px;
	}
	#content-sidebar .sidebar-heads-credits {
		font-size: 0.91667em;
		font-style: italic;
		line-height: 1.5em;
		margin: 0;
		text-align: center;
	}
	#content-sidebar .sidebar-previous-date {
		font-family: Helvetica, Arial, sans-serif;
		font-size: 0.91667em;
		font-weight: bold;
		letter-spacing: 1px;
		line-height: 1.2em;
		margin: 1.2em 0 0;
		text-transform: uppercase;
	}
	#content-sidebar .sidebar-artscalendar-item {
		margin-bottom: 1.5em;
	}
	#content-sidebar .sidebar-artscalendar-eventname {
		font-style: italic;
		margin: 0;
	}
	#content-sidebar .sidebar-artscalendar-time {
		font-size: 0.91667em;
		line-height: 1.5em;
		margin: 0 2em;
		text-transform: uppercase;
	}
	#content-sidebar .sidebar-sports-date {
		font-weight: bold;
		margin: 0;
	}
	#content-sidebar .sidebar-sports-teams, #content-sidebar .sidebar-sports-eventdetail {
		margin: 0;
	}
	#content-sidebar .sidebar-sports-location, #content-sidebar .sidebar-sports-time {
		font-size: 0.91667em;
		line-height: 1.5em;
		margin: 0;
		text-transform: uppercase;
	}
	#content-sidebar .sidebar-sports-indresult, #content-sidebar .sidebar-sports-description {
		font-size: 0.91667em;
		line-height: 1.5em;
		margin: 0;
	}
	#content-sidebar .sidebar-sports-indresult-queens {
		font-size: 0.91667em;
		font-style: italic;
		line-height: 1.5em;
		margin: 0;
	}
	#content-sidebar .sidebar-sports-item {
		margin-bottom: 1.5em;
	}
	#sidebar-poll {
		background-color: #ddd;
		border: 1px solid #ccc;
		margin-top: 1.5em;
		padding: 12px;
	}			
	#content-sidebar h4.story-head {
		font-weight: bold;
	}



/* =SECTIONALS-MENU */
#menu-narrow {
	width: 180px;
}
	#menu-poll {
		background-color: #ddd;
		padding: 0.75em 10px;
		margin-bottom: 3px;
	}

/* =SINGLES-MENU */
#menu-wide {
	width: 230px;
}
	#menu-stories {
		margin-top: 2em;
	}
		#menu-stories ul li {
			color: #ccc;
			font-size: 0.91667em;
			font-weight: bold;
			line-height: 1.5em;
			list-style-type: square;
			margin-left: 1.25em;
		}
		#menu-stories ul li a {
			color: #c30;
		}

/* =POLLS-CONTENT */
.poll {
}
	.poll #poll-question {
		margin: 0;
	}
	.poll ul {
		margin: 0;
	}
	.poll ul li {
		font-size: 0.91667em;
		line-height: 1.5em;
		list-style-type: none;
		margin: 1.5em 0 1.5em 18px;
	}
	.poll label input {
		width: auto;
		margin: 0 0 0 -18px;
	}
	.poll ul#poll-results li {
		clear: left;
		font-size: 0.91667em;
		line-height: 1.5em;
		margin: 1.5em 0;
	}
	.poll ul#poll-results li p {
		margin: 0;
	}
	.result-bar {
		background-color: #999;
		border: 1px solid #666;
		height: 0.5em;
		margin: 0.5em 0;
		position: absolute;
		top: 0;
		left: 0;
	}
	.result-bar-back {
		background-color: #eee;
		float: left;
		position: relative;
		width: 120px;
	}
	.result-bar-interval {
		border-right: 1px solid #ddd;
		float: left;
		height: 19px;
		width: 29px;
	}
	.poll ul#poll-results li p.result-number {
		float: left;
		font-weight: bold;
		margin: 0 10px 0 0;
		text-align: right;
		width: 30px;
	}

/* =BLOG-GLOBAL-CONTENT */
#blog-column {
	position: relative;
}
	.blog-container, .blog-sidebar {
		font-family: Helvetica, Arial, sans-serif;
		font-size: 1em;
		line-height: 1.5em;
	}
	.blog-container {
		background: #eee url('/media/global/blogs-individual-background.png');
		background-repeat: repeat-x;
		border-top: 1px solid #ccc;
		margin: 1.5em 0;
		padding: 0.75em;
	}
	.blog-sidebar {
		float: right;
		margin-right: 1.5em;
		width: 200px;
	}
		.blog-sidebar ul {
			margin-bottom: 1.5em;
		}
		.blog-sidebar ul li {
			list-style-type: none;
		}
	.blog-content {
	}
		.blog-content .blog-container {
			width: 450px;
		}
		.blog-content .content-image {
			background-color: white;
			border: 1px solid #ccc;
			padding: 4px;
		}
		.blog-content .image-caption {
			font-size: 0.91667em;
			font-weight: bold;
			line-height: 1.5em;
			margin: -1.5em 5px 1.5em;
			text-align: right;
		}

/* =BLOG-INDEX-CONTENT */
#blogs-index {
}
	.blog-description {
		float: left;
		width: 390px;
	}
		.blog-bloggers {
			font-size: 0.91667em;
			letter-spacing: 1px;
			line-height: 1.8em;
			margin: 0;
			text-transform: uppercase;
		}
		.bloggers-headshots {
			float: right;
			width: 150px;
		}
			.bloggers-headshots .author-headshot {
				max-width: 150px;
				width: expression(this.width > 155 ? "150px" : "auto")
			}
	.blog-recent-posts {
		border-left: 1px solid #ccc;
		float: right;
		padding-left: 0.75em;
		width: 268px;
	}

/* =BLOG-ENTRYLIST-CONTENT */
#blog-entries {
}
	.blog-post-commentlink {
		font-weight: bold;
		text-align: right;
	}

/* =BLOG-ENTRY-CONTENT */
#blog-single-entry {
}
	#blog-single-entry ul, #blog-single-entry ol {
		margin-left: 1.5em;
	}
	#blog-single-entry fieldset {
		background: transparent;
		border: 0;
		padding: 0;
	}
	#blog-single-entry fieldset div {
		padding: 0.5em 0;
	}
	#blog-single-entry legend {
		display: none;
	}
	#blog-single-entry #id_comment {
		width: 400px;
	}
	.blog-comment {
		margin: 1.5em 0;
		border-bottom: 1px solid #ccc;
	}
	.blog-comment.final {
		border-bottom: none;
	}
	.blog-comment .comment-meta {
		float: none;
		margin: 0 0 1.5em 250px;
	}
	
/* =BLOG-AUTHOR-CONTENT */
#blog-author {
}
	.author-headshot {
		background-color: white;
		border: 1px solid #ccc;
		float: right;
		margin: 0 0 1.5em 1.5em;
		padding: 4px;
	}
	#author-posts ul li {
		margin: 0 0 1.5em 1.5em;
	}
