{% extends 'staff/base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui/jquery-ui-1.8.16.custom.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui-timepicker-addon.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/" type="text/css" media="screen" charset="utf-8" />
{% endblock %}

{% block jsload %}
'jquery-ui' : '{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js',
'datetimepicker' : '{{ STATIC_URL }}js/jquery-ui-timepicker-addon.js'
{% endblock %}

{% block javascript %}
    $('.datetimepicker').datetimepicker({
        hourGrid: 4,
        minuteGrid: 10,
        timeFormat: 'hh:mm',
        dateFormat: 'yy-mm-dd'
    });
    
    $('.datepicker').datepicker({
        dateFormat: 'yy-mm-dd'
    });
{% endblock %}

{% block title %}{{ block.super }}{% if object %}Editing photo request for {{ object.subject }}{% else %}Adding photo request{% endif %}{% endblock title %}
{% block staffapp %}Photo request board{% endblock staffapp %}
{% block header %}{% if object %}Editing photo request for {{ object.subject }}{% else %}Adding photo request{% endif %}{% endblock header %}
{% block content %}
	<form action="" method="post">
	    {% csrf_token %}
		<h3>{{ form.non_field_errors }}</h3>
		<fieldset id="form-basics">
			<legend>Basic information</legend>
			<div id="form-subject" class="form-field{% if form.subject.errors %} form-error{% endif %}"><label for="id_subject" class="required">Shoot subject</label><br/>{{ form.subject }}{% if form.subject.errors %}<br/><span>{{ form.subject.errors|join:", " }}</span>{% endif %}</div>
			<div id="form-location" class="form-field{% if form.location.errors %} form-error{% endif %}"><label for="id_location">Shoot location</label><br/>{{ form.location }}{% if form.location.errors %}<br/><span>{{ form.location.errors|join:", " }}</span>{% endif %}</div>
			<div id="form-time" class="form-field{% if form.time_date.errors or form.time_time.errors %} form-error{% endif %}"><label for="id_time">Shoot date/time</label><br/><input class="datetimepicker" type="text" name="time" id="id_time" value="{{ object.time|date:"Y-m-d H:i:s" }}"/>{% if form.time.errors %}<br/><span>{{ form.time.errors|join:", " }}</span>{% endif %}</div>
		</fieldset>

		<fieldset id="form-workflow">
			<legend>Workflow management</legend>
			{% if edit_request or object %}
			<div id="form-status" class="form-field{% if form.status.errors %} form-error{% endif %}"><label for="id_status" class="required">Status:</label><br/>{{ form.status }}{% if form.status.errors %}<br/><span>{{ form.status.errors|join:", " }}</span>{% endif %}</div>
			<div id="form-photographer" class="form-field{% if form.photographer.errors %} form-error{% endif %}"><label for="id_photographer">Photographer:</label><br/>{{ form.photographer }}{% if form.photographer.errors %}<br/><span>{{ form.photographer.errors|join:", " }}</span>{% endif %}</div>
			{% else %}
			<input type="hidden" name="status" value="{% if object %}{{ object.status }}{% else %}0{% endif %}" />
			<input type="hidden" name="photographer" value="{% if object %}{{ object.photographer }}{% endif %}" />
			{% endif %}
			<div id="form-deadline" class="form-field{% if form.deadline.errors %} form-error{% endif %}"><label for="id_deadline" class="required">Deadline:</label><br/><input type="text" name="deadline" class="datepicker" value="{{ object.deadline|date:"Y-m-d" }}" id="id_deadline" />{% if form.deadline.errors %}<br/><span>{{ form.deadline.errors|join:", " }}</span>{% endif %}</div>
		</fieldset>
		
		<fieldset id="form-details">
			<legend>Details</legend>
			<div id="form-section" class="form-field{% if form.section.errors %} form-error{% endif %}"><label for="id_section" class="required">Section:</label><br/>{{ form.section }}{% if form.section.errors %}<br/><span>{{ form.section.errors|join:", " }}</span>{% endif %}</div>
			<div id="form-notes" class="form-field{% if form.notes.errors %} form-error{% endif %}"><label for="id_notes">Notes:</label><br/>{{ form.notes }}{% if form.notes.errors %}<br/><span>{{ form.notes.errors|join:", " }}</span>{% endif %}</div>
		</fieldset>
		
		<input type="hidden" name="creator" value="{% if object %}{{ object.creator.id }}{% else %}{{ user.id }}{% endif %}" />
		{{ form.creator.errors }}
		<input type="hidden" name="changed" value="{% now "Y-m-d H:i:s" %}" />
		{{ form.changed.errors }}
		<input type="hidden" name="added" value="{% if object %}{{ object.added|date:"Y-m-d H:i:s" }}{% else %}{% now "Y-m-d H:i:s" %}{% endif %}" />
		{{ form.added.errors }}
		<input type="submit" value="submit" />
		
	</form>
{% endblock content %}
{% block sidebar %}
<div>
	<p><a href="{% url staff.views.user_logout %}">Logout</a><br/><a href="{% url staff.requests.views.user_index %}">View all requests</a></p>
	<p>All dates should be formatted YYYY-MM-DD. All times should be formatted HH:MM, 24-hour clock.</p>
	<p>Always check with the photo editors in person as well as using this system.</p>
	<p>Problems? Talk to the webmaster.</p>
</div>
{% endblock sidebar %}