{% extends 'stories/index_section.html' %}
{% load typogrify %}
{% load custom_html %}
{% load navigation %}
{% load sidebartags %}

{% block body_class %}slider-page{% endblock %}

{% block headcode %}
{% if active %}<link rel="alternate" type="application/rss+xml" title="Latest posts from all blogs (RSS 2.0)" href="/rss/blogs/all/" />{% endif %}
{{ block.super }}
{% endblock headcode %}

{% block title %}Blogs{{ block.super }}{% endblock title %}

    {% block actions %}
        {% if active %}<li><a href="/rss/allblogs/"><span><img src="{{ STATIC_URL }}img/feed.png" />Latest blogs RSS</span></a></li>{% endif %}
    {% endblock actions %}

    {% block content %}
        {% block breadcrumb %}<div id="breadcrumb"><a href="/">Home</a><span class="divider"></span><span class="current">Blogs</span></div>{% endblock %}
        <div class="section-header">
            <h1>Blogs</h1>
        </div>

        <div id="slider">
            {% for entry in featured %}
                <div class="panel">
                    <img src="{{ entry.story_thumb.display.url }}" alt="{{ entry.title }}" title="#caption{{ entry.id }}"/>
                    <p class="label"><a href="{{ entry.blog.get_absolute_url }}">{{ entry.blog }}</a></p>
                    <h2><a href="{{ entry.get_absolute_url }}">{{ entry.title|striptags|choptext:"42"|stripspace|convert_entities|safe }}</a></h2>
                    <p>{{ entry.content|stripspace|convert_entities|truncatewords:38|striptags|safe }}</p>
                </div>
            {% endfor %}
        </div>

        <div id="latest-stories">
            <h3>Latest Posts <span class="feed"><a href="/rss/allblogs/"><img src="{{ STATIC_URL }}img/feed-small.png" />RSS Feed</a></span></h3>
            <hr>
            <ul>
            {% for entry in latest %}
                <li><span class="label"><a href="{{ entry.blog.get_absolute_url }}">{{ entry.blog }}</a></span><br />
                    <a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>
                    <span class="pub-date">{{ entry.pub_date|time_since }}</span>
                </li>
            {% endfor %}
            </ul>
        </div>


        <div id="latest" class="jrnl-masonry">

            {% for blog in blogs %}
            <div class="latest-section">
                <h3><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</h3>
                <hr>
                {% if blog.image %}<img src="{{ blog.image.front_image.url }}" /></a>{% endif %}
                <p class="summary">{{ blog.description|typogrify|safe }}</p>

                <ul>
                {% for post in blog.entry_set.published|slice:":2" %}
                    <li>
                    <a href="{{ post.get_absolute_url }}">{{ post.title|typogrify }}</a><br />
                    <span class="pub-date">{{ post.pub_date|time_since }}</span>
                    </li>
                {% endfor %}
                </ul>
            </div>
            {% endfor %}

        </div>

    {% endblock content %}
