{% extends 'blog/base.html' %}
{% load typogrify %}
{% load custom_html %}
{% load disqus_tags %}
{% load more %}
{% load image_tags %}
{% load tagging_tags %}

{% block headcode %}
<link rel="alternate" type="application/rss+xml" title="Latest posts from {{ blog.title }} (RSS 2.0)" href="/rss/blogs/{{ blog.slug }}/" />
{% endblock headcode %}

{% block title %}{{ block.super }}{% endblock title %}

    {% block actions %}
        <li><a href="/rss/blogs/{{ blog.slug }}/"><span><img src="{{ STATIC_URL }}img/feed.png" /> Latest posts RSS</span></a></li>
    {% endblock actions %}
    {% block blog-filter %}
        {% spaceless %}
        {% if month or author or category or query %}<h3>
        {% if month %}All posts published in {{ month|date:"F Y" }}
        {% else %}{% if author %}All posts written by {{ author.user.first_name }}
        {% else %}{% if category %}All posts in {{ category.name }}
        {% else %}{% if query %}{{ hits }} result{{ hits|pluralize }} for &ldquo;{{ query }}&rdquo; (showing results {{ first_on_page}}&ndash;{{ last_on_page }})
        {% endif %}
        {% endif %}
        {% endif %}
        {% endif %}
        </h3>{% endif %}
        {% endspaceless %}
    {% endblock blog-filter %}

    {% block breadcrumb %}
        <div id="breadcrumb" class="nomrg"><a href="{% url front %}" class="homelink">Home</a><span class="divider"></span><a href="{% url blog.views.all_blogs %}">Blogs</a><span class="divider"></span></div>
    {% endblock breadcrumb %}

    {% block header %}
        <div class="blog-header">
            <div class="blog-header-grad">
                <h1>{{ blog.title }}</h1>
            </div>
            <div class="blog-image"><img src="{{ blog.image.header_image.url }}" /></div>
        </div>
        <hr>
    {% endblock %}

    {% block blog-content %}
        {% for entry in object_list %}
        <div id="entry-{{ entry.id }}" class="entry">
            <h2><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h2>
            <h5>Posted by <a href="{{ entry.author.get_absolute_url }}">{{ entry.author.name }}</a> on {{ entry.pub_date|date:"F j, Y @ h:i a T" }}{% tags_for_object entry as tags %}{% if tags %}<br/>Tags: {% for tag in tags %}<a href="/tag/{{tag.name|urlencode}}/">{{ tag }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}</h5>
            <div class="blog-post-content">{{ entry.content|more:entry.id|images:'list'|removetags:"font"|typogrify|linebreakswithcode|truncatewords:150|safe }}{% ifnotequal entry.content|truncatewords:150|length entry.content|truncatewords:151|length %}<a href="{{ entry.get_absolute_url }}"> Read more...</a>{% endifnotequal %}</div>
            <a href="{{ entry.get_absolute_url }}#disqus_thread" data-disqus-identifier="{{ entry.id }}">View Comments</a>
            {% disqus_num_replies %}
        </div>
        {% endfor %}

    {% if has_next %}<div id="blog-prev" class="side-action">
        {% if author %}<a href="{% url blog_archive_author_pages blog.slug,author.id,next %}">
        {% else %}{% if month %}<a href="{% url blog_archive_month_pages blog.slug,month.year,month|date:"m",next %}">
        {% else %}<a href="{% url blog-index blog.slug,next %}">
        {% endif %}
        {% endif %}
        &laquo; Older posts</a></div>
    {% else %}{% comment %}{% if not has_next and prev_month %}<div id="blog-prev" class="side-action"><a href="{% url blog_archive_month prev_month.year,prev_month|date:"m" %}">&laquo; To {{ prev_month|date:"F Y" }}</a></div>{% endif %}
    {% endcomment %}{% endif %}
    {% if has_previous %}<div id="blog-next" class="side-action">
        {% if author %}<a href="{% url blog_archive_author_pages blog.slug,author.id,previous %}">
        {% else %}{% if month %}<a href="{% url blog_archive_month_pages blog.slug,month.year,month|date:"m",previous %}">
        {% else %}<a href="{% url blog-index blog.slug,previous %}">
        {% endif %}
        {% endif %}
        Newer posts &raquo;</a></div>
    {% else %}{% comment %}{% if not has_previous and next_month %}<div id="blog-next" class="side-action"><a href="{% url blog_archive_month_front next_month.year,next_month|date:"m" %}">To {{ next_month|date:"F Y" }} &raquo;</a></div>{% endif %}
    {% endcomment %}{% endif %}

    {% endblock blog-content %}

