{% extends 'blog/base.html' %}
{% load typogrify %}
{% load humanize %}
{% load custom_html %}
{% load more %}
{% load image_tags %}
{% load tagging_tags %}
{% load shorturl %}

{% block facebook %}
<meta property="og:title" content="{{ entry.title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{% shorturl entry %}" />
{% if entry.first_photo %}
<meta property="og:image" content="{{ entry.first_photo.thumbnail_image.url }}" />
{% else %}
<meta property="og:image" content="{{ entry.blog.image.front_image.url }}" />
{% endif %}
<meta property="og:site_name" content="The Queen&#039;s Journal" />
<meta property="fb:admins" content="1653600047" />
{% endblock facebook %}

{% block headcode %}
<link rel="alternate" type="application/rss+xml" title="Latest posts from {{ blog.title }} (RSS 2.0)" href="/rss/blogs/{{ blog.slug }}/" />
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
{% endblock headcode %}

{% block title %}{{ entry.title }} - {{ block.super }}{% endblock title %}

    {% block actions %}
        <li><span id="actions-rss" class="action"><a href="/rss/blogs/{{ blog.slug }}/"><span><img src="{{ STATIC_URL }}img/feed.png" />Latest posts RSS</span></a></li>
    {% endblock actions %}
    {% block content %}
        {% block breadcrumb %}
            <div id="breadcrumb" class="nomrg"><a href="{% url front %}" class="homelink">Home</a><span class="divider"></span><a href="{% url blog.views.all_blogs %}">Blogs</a><span class="divider"></span><a href="{% url blog-index blog.slug %}">{{ blog.title }}</a></div>
        {% endblock breadcrumb %}
        <div class="blog-header">
            <div class="blog-header-grad">
                <h1><a href="{% url blog-index blog.slug %}">{{ blog.title }}</a></h1>
            </div>
            <div class="blog-image"><img src="{{ blog.image.header_image.url }}" /></div>
        </div>
        <hr>
    {% block blog-content %}
    <div id="blog-single-entry" class="blog-content">
        <div class="blog-container">
            <h1><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h1>
            <h5>Posted by <a href="{{ entry.author.get_absolute_url }}">{{ entry.author.name }}</a> on {{ entry.pub_date|date:"F j, Y @ h:i a T" }}</h5>
            <br/>
            <div class="blog-post-content">
                <div id="story-socmedia" class="entry">
                    <p class="label">Share<p>
                        <hr>
                    <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="{% shorturl entry %}" layout="button_count" show_faces="false" width="100" font=""></fb:like>
                    <br/>
                    <a href="http://twitter.com/share" class="twitter-share-button" data-url="{% shorturl entry %}" data-count="horizontal" data-via="queensjournal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
                    <br/>
                    <a href="http://www.reddit.com/submit" onclick="window.location = 'http://www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false"> <img src="http://www.reddit.com/static/spreddit7.gif" alt="submit to reddit" border="0" /> </a>
                    <br/>
                    <g:plusone></g:plusone>
                    <hr>
                    {% tags_for_object entry as tags %}
                    {% if tags %}
                    <h4>Post tags:</h4>
                    <ul>
                    {% for tag in tags %}
                        <li><a href="/tag/{{tag.name|urlencode}}/">{{ tag }}</a></li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                    <br/>
                    Short URL:
                    <form action="" method="get">
                        <input type="text" id="shorturl" name="shorturl" value="{% shorturl entry %}" />
                    </form>
                    {% revcanonical entry %}

                </div>

                {{ entry.content|more_interior|images:'detail'|removetags:"font"|typogrify|linebreakswithcode|safe }}</div>
        </div>

        <div class="blog-container">
            <h3>Post a comment</h3>
            {% if entry.enable_comments %}
            {% load disqus_tags %}
            <div id="comments" class="blog-container">
                <script type="text/javascript" charset="utf-8">
                        var disqus_developer = 1;
                </script>
                {% disqus_show_comments %}
            </div>
            {% else %}
                <h5>This story is closed to new comments.</h5>
            {% endif %}
        </div>
    </div>
    {% endblock blog-content %}
    {% endblock content %}

