{% extends 'base.html' %}
{% load typogrify %}
{% load custom_html %}
{% load navigation %}
{% load sidebartags %}
{% load comparison %}

{% block head-code %}
{% if active %}<link rel="alternate" type="application/rss+xml" title="Latest posts from all blogs (RSS 2.0)" href="/rss/blogs/all/" />{% endif %}
{% endblock head-code %}

{% block title %}All Journal blogs - {{ block.super }}{% endblock title %}

{% block header-type %}secondary{% endblock header-type %}
	{% block header-img %}logo_inside.gif{% endblock header-img %}
	{% block dateline %}Journal blogs{% endblock dateline %}

{% block menu-type %}narrow{% endblock menu-type %}

{% block layout-type %}wide-2cols{% endblock layout-type %}
	{% block breadcrumb %}
	
	{% endblock breadcrumb %}
	{% block actions %}
		{% if active %}<div id="actions"><p><span id="actions-rss" class="action"><a href="/rss/allblogs/">Latest blogs RSS <img src="{{ MEDIA_URL }}global/icon_rss.gif" /></a></span></p></div>{% endif %}
	{% endblock actions %}
	{% block content %}
		<div id="blogs-list">
			<h1 class="blog-head">{% if not active %}Archived {% endif %}Journal blogs</h1>
			<p><a href="/rss/allblogs/"><img src="{{ MEDIA_URL }}global/feed-icon-10x10.gif">&ensp;Latest posts from all Journal blogs (RSS 2.0)</a>

			{% for blog in object_list %}
			<div id="blog-{{ blog.slug }}" class="blog-container clearfix">
				<div class="blog-description">
					<h3><a href="{{ blog.get_absolute_url }}">{{ blog.title|typogrify }}</a></h3>
					<p>{{ blog.description|typogrify }}</p>
					<p><a href="/rss/blogs/{{ blog.slug }}"><img src="{{ MEDIA_URL }}global/feed-icon-10x10.gif">&ensp;Latest posts feed</a></p>
				</div>
				<div class="blog-recent-posts">
					{% for post in blog.entry_set.published|slice:":2" %}
						<h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
						<h5>Posted {{ post.date_published|timesince }} ago</h5>
						<p>{{ post.content|striptags|truncatewords:25 }}</p>
					{% endfor %}
				</div>
			</div>
			{% endfor %}
		</div>
		<!--
		<div id="content-sidebar">
			
		</div>
		-->
	{% endblock content %}

