{% extends 'blog/base.html' %}
{% load typogrify %}
{% load humanize %}
{% load custom_html %}
{% load more %}
{% load images %}

{% block head-code %}
<link rel="alternate" type="application/rss+xml" title="Latest posts from {{ blog.title }} (RSS 2.0)" href="/rss/blogs/{{ blog.slug }}/" />
{% endblock head-code %}

{% block title %}{{ object.title }} - {{ block.super }}{% endblock title %}

{% block header-type %}secondary{% endblock header-type %}
	{% block header-img %}logo_inside.gif{% endblock header-img %}
	{% block dateline %}Journal blogs{% endblock dateline %}

	{% block breadcrumb %}
		<a href="{% url stories.views.index_front %}">Home</a> &raquo; <a href="{% url blog.views.all_blogs %}">Blogs</a> &raquo; <a href="{% url blog_index_front blog.slug %}">{{ blog.title }}</a> &raquo; Post
	{% endblock breadcrumb %}
	{% block actions %}
		<div id="actions"><p><span id="actions-rss" class="action"><a href="/rss/blogs/{{ blog.slug }}/">Latest posts RSS <img src="/media/global/icon_rss.gif" /></a></span></p></div>
	{% endblock actions %}
	{% block blog-actions %}
		<p><a href="{{ blog.get_absolute_url }}">Return to {{ blog.title }} front page</a><br/>
		<a href="/rss/blogs/{{ blog.slug }}/"><img src="/media/global/feed-icon-10x10.gif">&ensp;Latest posts (RSS 2.0)</a></p>
	{% endblock blog-actions %}
	{% block blog-content %}
	<div id="blog-single-entry" class="blog-content">
		<div class="blog-container">
			<h2><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h2>
			<h5>Posted by <a href="{{ object.author.get_absolute_url }}">{{ object.author.user.get_full_name }}</a> on {{ object.date_published|date:"F j, Y @ h:i a T" }}</h5>
			<p>Categories: {% for category in object.categories.all %}<a href="{% url blog_archive_category_front blog.slug,category.slug %}">{{ category.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
			<div class="blog-post-content">{{ object.content|more_interior|images:435|removetags:"font"|typogrify|linebreakswithcode|safe }}</div>
		</div>
		
		<div class="blog-container">
			<h3>Post a comment</h3>
			{% if object.enable_comments %}
			
			{% load disqus_tags %}
			{% disqus_dev %}
			
			<div id="comments" class="blog-container">
				{% disqus_show_comments %}
			</div>
			
				<a name="policy"></a><h3><em>Journal</em> comments policy</h3>
				<p>The comments on this website do not represent the views or opinions of the <em>Queen&apos;s Journal</em>, but of the comment-writer alone.  
				Libelous comments and unsubstantiated allegations will not be printed, nor will comments that discriminate on the basis of ethnicity, nationality, 
				citizenship, gender, religion, sexual orientation, age, marital status or mental or physical ability.  All comments are moderated, and may take up 
				to 24 hours to be posted on this site barring any unforeseen circumstances.  The <em>Journal</em> reserves the right to refrain from publishing comments. 
				Comments are not edited for grammar or spelling, or for vulgar language outside of the above restrictions.  The <em>Journal</em> respects your privacy.  
				By posting your comments in our feedback forum you give us permission to post and publish your name, city and comments on the <em>Journal</em> website.  
				All submissions must contain the email address of the comment-writer.  Thank you for your co-operation.</p>
			{% else %}
				<h5>This story is closed to new comments.</h5>
			{% endif %}
		</div>
	</div>
	{% endblock blog-content %}

