<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Shameless add image widget</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/image_widget.css" />
</head>
<body>
<form enctype="multipart/form-data" action="" method="post">
	{% csrf_token %}
{% comment %}
	<div class="widget-field{% if form.name.errors %} error-field{% endif %}"><label for="id_name">Name</label> {{ form.name }}<p class="help-text">Descriptive name. Used for alt text (accessible to those who can't view images).</p>{% if form.name.errors %}<p class="error-text">{{ form.name.errors|join:", " }}</p>{% endif %}</div>
	<div class="widget-field{% if form.image.errors %} error-field{% endif %}"><label for="id_image">Image file</label> {{ form.image }} {{ form.image_file }}{% if form.image.errors %}<p class="error-text">{{ form.image.errors|join:", " }}</p>{% endif %}</div>
	<div class="widget-field{% if form.caption.errors %} error-field{% endif %}"><label for="id_caption">Caption</label> {{ form.caption }}<p class="help-text">Short caption for the image. Optional.</p>{% if form.caption.errors %}<p class="error-text">{{ form.caption.errors|join:", " }}</p>{% endif %}</div>
	<div class="widget-field{% if form.credit.errors %} error-field{% endif %}"><label for="id_credit">Image credit</label> {{ form.credit }}<p class="help-text">Optional.</p>{% if form.credit.errors %}<p class="error-text">{{ form.credit.errors|join:", " }}</p>{% endif %}</div>
	<input type="hidden" name="slug" value="{{ object.slug }}" />
{% endcomment %}

{% for field in form %}
	{% ifnotequal field.label 'Slug' %}
	<div class="widget-field{% if field.errors %} error-field{% endif %}"><label for="id_{{ field.label|lower }}">{{ field.label }}</label> {{ field }}<p class="help-text">{{ field.help_text }}</p>{% if field.errors %}<p class="error-text">{{ field.errors|join:", " }}</p>{% endif %}</div>
	{% endifnotequal %}
{% endfor %}
<button class="form-button" type="submit">Upload image</button>
</form>
</body>