{% extends 'base.html' %}
{% load typogrify %}
{% load custom_html %}
{% load navigation %}
{% load sidebartags %}
{% load comparison %}
{% load timeago %}

{% block head-code %}<link rel="alternate" type="application/rss+xml" title="Latest {{ story.section.name }} stories feed (RSS 2.0)" href="/rss/section/{{ story.section.slug }}/" />{% endblock head-code %}

{% block title %}{{ story.section.name }} - {{ story.issue.pub_date|date:"F j, Y" }} - {{ block.super }}{% endblock title %}

{% block header-type %}secondary{% endblock header-type %}
	{% block header-img %}logo_inside.gif{% endblock header-img %}
	{% block dateline %}{{ story.issue.pub_date|date:"F j, Y" }}{% endblock dateline %}

{% block menu-type %}narrow{% endblock menu-type %}

{% block layout-type %}wide-2cols{% endblock layout-type %}
	
	{% block actions %}
		<div id="actions"><p><span id="actions-rss" class="action"><a href="/rss/section/{{ story.section.slug }}/">Latest {% firstof story.section.short_name story.section.name %} RSS <img src="/media/global/icon_rss.gif" /></a></span></p></div>
	{% endblock actions %}
	
	{% block content %}
		<div id="stories-other">
			{% for pwrapper in story.storyphoto_set.all %}
				{% if forloop.first %}
				<img src="{{ pwrapper.photo.get_photo_url }}" class="story-photo" style="width: {% spaceless %}{% if_greater_or_equal pwrapper.photo.get_photo_width 390 %}390px; margin-left: 0{% else %}{{ pwrapper.photo.get_photo_width }}px{% endif_greater_or_equal %}{% endspaceless %}" />
				<p class="story-caption" style="width: {% spaceless %}{% if_greater_or_equal pwrapper.photo.get_photo_width 390 %}390px; margin-left: 0{% else %}{{ pwrapper.photo.get_photo_width }}px{% endif_greater_or_equal %}{% endspaceless %}">{{ pwrapper.photo.caption }}{% ifnotequal pwrapper.photo.list_photographer '[no credit]' %} ({{ pwrapper.photo.list_photographer }}){% endifnotequal %}</p>
				{% endif %}
			{% endfor %}
			<p class="story-label">{% firstof story.label 'Top Story' %}</p>
			<h2 class="story-head"><a href="{{ story.get_absolute_url }}">{{ story.head|stripspace|convert_entities|widont }}</a></h2>
			<p class="story-summary">{{ story.summary|convert_entities|widont }}</p>
			<ul>
			{% for otherstory in latest|slice:"1:500000" %}
				{% spaceless %}
				<ul>
				<strong>{% if otherstory.label %}{{ otherstory.label }} - {% endif %}</strong>
				<a href="{{ otherstory.get_absolute_url }}">{{ otherstory.head|stripspace|convert_entities|widont }}</a></h3>
				{{ otherstory.pub_date|date_diff }}
				</ul>
				{% endspaceless %}
			{% endfor %}
			</ul>
		</div>
		<div id="content-sidebar">
			
		</div>
	{% endblock content %}

