{% extends 'base.html' %}
{% load navigation %}
{% load sidebartags %}
{% load custom_html %}
{% load typogrify %}
{% load flash %}
{% load poll_tags %}
{% load lists %}

{% block headcode %}<link rel="alternate" type="application/rss+xml" title="Latest stories feed (RSS 2.0)" href="/rss/latest/" />
<script src="{{ MEDIA_URL }}global/js/jquery-1.4.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}global/js/jquery.nivo.slider.pack.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}global/js/jquery.masonry.js" type="text/javascript"></script>
<link rel="stylesheet" href="{{ MEDIA_URL }}global/styles/nivo-slider.css" type="text/css" media="screen" />
{% endblock headcode %}

	{% block actions %}
		<div id="actions"><p><span id="actions-rss" class="action"><a href="/rss/latest/">Latest stories RSS <img src="{{ MEDIA_URL }}global/icon_rss.gif" /></a></span></p></div>
	{% endblock actions %}
	
	{% block issue-banner %}
		{% if config.issue.extra %}
			<div id="issue-banner" class="clearfix">
				<h1>{{ config.issue.extra }}</h1><h4>A special issue of the Journal</h4>
			</div>
		{% endif %}
	{% endblock issue-banner %}
	
	{% block content-class %} span-19 front-content{% endblock %}
	
	{% block content %}
	
	<div class="block">
		
		<div class="featured column span-16 colborder"><!--featured box-->
				
				<div id="slider-wrapper">

		            <div id="slider" class="nivoSlider" style="margin-right: 0px;">
					{% for story in featured %}
		                <img src="{{ story.photo.display.url }}" alt="{{ story.story.head }}" class="slideshow-featured-img" title="#caption{{ story.story.id }}"/>
		            {% endfor %}
		            </div>
					{% for story in featured %}
		            <div id="caption{{ story.story.id }}" class="nivo-html-caption">
		                <p class="slider-story label">{% if story.story.tags %}<a href="/tag/{{story.story.label|striplabel|slugify}}/">
			{{ story.story.tags|striplabel }}</a>{% else %}{% firstof story.story.label "Story" %}{% endif %}</p>
						<h2><a href="{{ story.story.get_absolute_url }}">{{ story.story.head|striptags|choptext:"42"|stripspace|convert_entities|safe }}</a></h2>
						{{ story.story.summary|stripspace|convert_entities|truncatewords:38|safe }}
						<!--<p class="slider-readmore"><a href="{{ story.story.get_absolute_url }}">Full Story</a></p>-->
		            </div>
					{% endfor %}
		       
				</div>
				
		</div><!--featured box-->
		
		<div id="latest_stories" class="latest column span-7 last">
			<h3>Latest Stories <span class="feed"><a href="/rss/latest/"><img src="{{ MEDIA_URL }}global/feed-small.png" />RSS Feed</a></span></h3>
			<hr>
			<ul>
			{% for story in latest_stories %}
				<li><p class="label">{% if story.tags %}<a href="/tag/{{ story.tags|striplabel|slugify }}/">{{ story.tags|striplabel }}</a>{% else %}{% firstof story.label "Story" %}{% endif %}</p>
					<h5><a href="{{ story.get_absolute_url }}">{{ story.head }}</a></h5>
					<p class="pub_date">{{ story.pub_date|date_diff }}</p>
				</li>
			{% endfor %}
			</ul>
		</div>
		
	</div><!--block-->
	
	<div class="hr dblmargin"><hr></div>
	
	<div class="block">
		
		<div id="section-stories" class="column span-24 last">
			
			{% for story in latest_section %}
			<div class="latest-section">
				<p class="label section-label"><a href="{% url stories.views.index_section story.section|slugify %}">{{ story.section }}</a></p>
				{% if story.storyphoto_set.all|length > 0 %}{% for pwrapper in story.storyphoto_set.all|slice:":1" %}<a href="{{ story.get_absolute_url }}"><img src="{{ pwrapper.photo.front_image.url }}" /></a>{% endfor %}{% endif %}
				<h2 class="latest-section-head"><a href="{{ story.get_absolute_url }}">{{ story.head }}</a></h2>
				<p class="latest-section-summary">{{ story.summary }}</p>
				<p class="pub_date">Posted {{ story.pub_date|date_diff }}</p>
			</div>
			{% endfor %}
			
			<div id="latest-entries" class="latest">

				{% if config.announce_head and config.announce_body %}
				<div class="announcement">
					<h4>{{ config.announce_head|stripspace|convert_entities|widont }}</h4>
					{{ config.announce_body|linebreaks|convert_entities|typogrify }}
				</div>
				{% endif %}
				{% front_sidebar %}

				<ul><h3>From the Blogs <span class="feed"><a href="/rss/allblogs/"><img src="{{ MEDIA_URL }}global/feed-small.png" />RSS Feed</a></span></h3>
				{% for entry in latest_entries %}
					<li>
					<p class="label">{{ entry.blog.title }}</p>
					<h5><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h5>
					<p class="pub_date">{{ entry.date_published|date_diff }}</p>
					</li>
				{% endfor %}
				</ul>

			</div>
			
		</div>
		
	</div><!--block 2-->
		
	{% endblock content %}

	{% block poll %}
	{% if config.poll %}
		<div id="menu-poll" class="poll">
			<p class="menu-label">Poll</p>
			<p id="poll-question">{{ config.poll.question }}</p>
			{% pollflash config.poll.id %}
				{% ifequal pollmsg.params.type 'voteflood' %}{% ifequal pollmsg.poll config.poll.id %}<p><strong>{{ pollmsg.msg }}</strong></p>{% endifequal %}{% endifequal %}
			{% endpollflash %}
			{% if config.poll.id|in_list:request.session.vote or request.GET.results or not config.poll.is_active %}
			{% if not config.poll.is_active %}
				<p><strong>Voting on this poll is closed.</strong></p>
			{% endif %}
			<ul id="poll-results">
				{% for choice in config.poll.choice_set.all %}
				<li class="clearfix"><p>{{ choice.choice }}</p>
				<p class="result-number">{{ choice.vote_set.count }}</p>
				<div class="result-bar-back">
					<div class="result-bar-interval"></div>
					<div class="result-bar-interval"></div>
					<div class="result-bar-interval"></div>
					<div class="result-bar-interval"></div>
				{% ifnotequal choice.vote_set.count 0 %}
					<div class="result-bar" style="width: {% widthratio choice.vote_set.count config.poll.total_votes 118 %}px;"></div>
				{% endifnotequal %}
				</div>
				</li>
				{% endfor %}
			{% else %}
			<form action="{% url polls.views.poll_vote config.poll.id %}" method="post">
				{% poll_form config.poll.id as form %}
				{{ form.choice }}
				<input type="hidden" name="url" value="{{ request.get_full_path }}" />
				<button type="submit">Vote!</button> <a href="{{ request.get_full_path }}?results=1">View results</a>
			</form>
			{% endif %}
		</div>
	{% endif %}
	{% endblock poll %}
	
{% block footercode %}
<script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider({
			directionNav:true,
			controlNav:false,
			effect:'slideInLeft',
			pauseOnHover:true,
			pauseTime:5000,
			captionOpacity:1,
		});
    });
</script>
<script type="text/javascript">
	$(window).load(function(){
		$('#section-stories').masonry({
 			singleMode: true,
			columnWidth: 260,
			itemSelector: '.latest-section' 
		});
	});
</script>
{% endblock footercode %}