{% extends "stories/single_detail.html" %}

{% block breadcrumb %}<a href="/">Home</a>{% endblock breadcrumb %}
{% block actions %}<p>&nbsp;</p>{% endblock actions %}
{% block content %}
	<div class="story">
	<h2 style="margin-bottom: 0.5em">400 - Bad request</h2>
	<p>We're guessing you took a wrong turn at that last web form you filled out. Either that or you're trying to do something very naughty. Please contact the webmaster if it's the former, and kindly refrain from hacking into our server if the latter.</p>
	</div>
{% endblock content %}