{% load navigation %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block title %}Queen's Journal{% endblock title %}</title>
<link rel="stylesheet" type="text/css" href="/media/styles/journal.css" media="screen" title="Default" />
<LINK REL="shortcut icon" HREF="/media/global/favicon.ico">
</head>
<body>

		{% block content %}
		{% endblock content %}

</body>
</html>