{% extends 'base.html' %}
{% block title %}Comment preview - {{ block.super }}{% endblock title %}

{% block header-type %}secondary{% endblock header-type %}
	{% block header-img %}logo_inside.gif{% endblock header-img %}

{% block content %}
<div class="story-content">
<h1>Comment submitted successfully</h1>
<p>Your comment has been successfully submitted. <strong>Your comment has not yet been published.</strong> All comments are reviewed before being posted to prevent abuse; comments are
reviewed on a regular basis and are posted or rejected within 24 hours.</p>

{% if object %}
	<ul>
		<li><a href="{{ object.get_absolute_url }}{{ object.get_comment_url_suffix }}">Return to the discussion</a></li>
	</ul>
{% endif %}
</div>
{% endblock content %}