{% load navigation %}
{% load linkset %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block title %}Queen's Journal{% endblock title %}</title>
{% block meta %}
<meta name="description" content="The Queen's Journal is a completely student-run newspaper at Queen's University in Kingston, Ontario, Canada." />
{% endblock meta %}
<LINK REL="shortcut icon" HREF="{{ MEDIA_URL }}global/favicon.ico">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.css" />
<script src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.js"></script>
{% block headcode %}{% endblock headcode %}
{% block facebook %}{% endblock facebook %}
</head>
<body data-role="page">

	<div id="header-container" data-role="header">
	    <h1>Queen's Journal</h1>
	    <div data-role="fieldcontain">
	        <form name="topsearch" action="/search/" method="get">
            <label for="search">Search:</label>
            <input type="search" name="q" id="search" value="" />
            </form>
        </div>
        
        <div data-role="navbar">
            {% menu_mobile %}
        </div>
	</div>
	
	<div data-role="content">

		<!-- google_ad_section_start -->
		{% block issue-banner %}
		{% endblock issue-banner %}
		{% block content %}
		{% block breadcrumb %}{% endblock breadcrumb %}
		{% endblock content %}
		<!-- google_ad_section_end -->
		
	</div><!--content block -->

<div data-role="footer">
	<p id="nameplate">The Queen's Journal</p>
	<p>190 University Ave.<br/>Kingston, ON<br/>K7L 3P4<br/>
	Editorial office: (613) 533-2800<br/>Business office: (613) 533-6711<br/>Fax: (613) 533-6728</p>

	{% linkset 'main' as links %}
	<ul class="col2">
		{% for link in links %}
			<li><a href="{{ link.url }}">{{ link.text }}</a></li>
		{% endfor %}
	</ul>
	<ul class="col1">
	{% linkset 'main2' as links %}
		{% for link in links %}
			<li><a href="{{ link.url }}">{{ link.text }}</a></li>
		{% endfor %}
	</ul>
	
	<ul id="flavours">
        <li><a href="?flavour=full">Full site</a>
    </ul>
    
    <div id="connect">
		Connect: <a href="/rss/latest/"><img src="{{ MEDIA_URL }}global/img/feed.png" /></a>
		<a href="http://twitter.com/queensjournal/"><img src="{{ MEDIA_URL }}global/img/twitter.png" /></a>
		<a href="http://www.facebook.com/queensjournal"><img src="{{ MEDIA_URL }}global/img/facebook.png"></a>
		<a href="/emailupdates/"><img src="{{ MEDIA_URL }}global/img/email.png" /></a>
	</div>

</div>

	<!-- Google Analytics -->
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-15740362-1");
	pageTracker._trackPageview();
	} catch(err) {}</script>
	
	<script type="text/javascript">
	{% block footercode %}{% endblock footercode %}
	</script>
</body>
</html>