/* Hacks */
* {
	margin: 0;
	padding: 0;
}
.clearfix:after {
	clear:both;
	content:".";
	display:block;
	height:0pt;
	visibility:hidden;
}

/* IE-specific hacks! */
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */
* html .clearfix {height: 1%;}

/* Global typography */
body {
	background-color: white;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
}
p{
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 1.5em;
}
blockquote {
	font-size: 1em;
	line-height: 1.5em;
	margin: 0 3em 1.5em;
}
li {
	font-size: 1em;
	line-height: 1.5em;
}
h1 {
	font-size: 2.5em;
	font-weight: normal;
	line-height: 1.1667em;
}
h2 {
	font-size: 2em;
	line-height: 1.25em;
}
h3 {
	font-size: 1.5em;
	line-height: 1.286em;
}
h4 {
	font-size: 1.1667em;
	line-height: 1.286em;
}
h5 {
	font-size: 1em;
	line-height: 1.5em;
}
a {
	color: #c30;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a img {
	border: 0;
}

/* Global layout */
/* =GLOBAL-HEADERS */
#header-banner {
	background-color: #069;
	padding: 1em 1em 0.5em;
}
.header-container {
	margin: 0 auto;
	position: relative;
	width: 900px;
}
	#dateline, #issueline {
		color: white;
		font-weight: bold;
		letter-spacing: 0.2em;
		text-transform: uppercase;
	}
	#logo-print {
		display: none;
	}

/* =GLOBAL-FOOTERS */
#footer-container {
	margin: 0 auto;
	width: 900px;
}
#footer-ad {
	width: 900px;
	height: 90px;
	margin-bottom: 20px;
}
	#footer-container #address {
		background-color: #d5e6ee;
		padding-bottom: 3em;
	}
		#footer-container #address p {
			float: left;
			font-family: Arial, Helvetica, sans-serif;
			line-height: 1.5em;
			margin: 1em 1em 0 2em;
		}
		#footer-container #address p#nameplate {
			font-weight: bold;
		}

/* =GLOBAL-CONTENT+MENU */
#body-container {
	margin: 0 auto;
	padding: 0 1em 2em;
	width: 900px;
}
	#content-ad {
	height: 60px;
	margin-top: 0px;
	margin-bottom: 7px;
	}
	
	#topbar a, .menu a, #footer-container a {
		color: #2d81ab;
	}
	.story-label, .menu-label, .blog-label {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 0.91667em;
		font-weight: bold;
		letter-spacing: 1px;
		line-height: 1.2em;
		margin: 0;
		text-transform: uppercase;
	}


/* =GLOBAL-CONTENT */
.content {
}
	#topbar {
		background-color: #d5e6ee;
		margin-bottom: 5px;
		position: relative;
		width: 100%;
	}
		#breadcrumb {
			float: left;
			margin: 1.5em 10px 5px;
		}
		#breadcrumb p {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 1.1667em;
			font-weight: bold;
			line-height: 18px;
			margin: 0;
			text-transform: uppercase;
		}
		#actions {
			border-left: 3px solid white;
			float: right;
			height: 100%;
			padding: 1.5em 10px 5px;
		}
		#actions p {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 1em;
			font-weight: bold;
			line-height: 18px;
			margin: 0;
			text-transform: uppercase;
		}
	
	#issue-banner {
		background-color: #96c0d5;
		border: 1px solid #2d81ab;
		margin: 2em 0;
	}
		#issue-banner h1 {
			float: left;
			font-variant: small-caps;
			margin: 5px;
		}
		#issue-banner h4 {
			font-style: italic;
			float: right;
			line-height: 2.571em;
			margin: 5px;
		}
	
	.story {
		margin: 1em 0 2em 0;
		width: 100%;
	}
		.story-photo {
			border: 1px solid black;
			clear: right;
			float: right;
			margin-left: 1em;
		}
		.story-caption {
			clear: right;
			float: right;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 0.91667em;
			line-height: 1.2em;
			margin: 0.5em 0 0 1em;
		}
		.story table {
			border-spacing: 5px;
			clear: right;
		}
		.story table tr td {
			background-color: #eee;
			padding: 10px;
		}
		.story table thead tr td {
			font-weight: bold;
		}

/* =GLOBAL-MENU */
.menu {
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 20px;
}
	#menu-social-media, #menu-sections, #menu-online-sections, #menu-archives, #menu-static {
		background-color: #d5e6ee;
		padding: 0.75em 10px;
		margin-bottom: 3px;
	}
	.menu ul {
		list-style-type: none;
	}
	.menu #menu-sections, .menu #menu-online-sections {
		padding: 1em 0 0.75em;
	}
	#menu-sections li, #menu-online-sections li {
		font-size: 1.1667em;
		font-weight: bold;
		line-height: 1.286em;
		padding: 0 10px;
		text-transform: uppercase;
	}
	#menu-sections li#section-current {
		background-color: #96c0d5;
	}
	.menu input, .menu select {
		margin: 0.5em 0;
		padding: 2px;
		width: 140px;
	}
	#menu-social-media li {
		vertical-align:middle;
		padding: 2px;
		font-size: 0.8em;
		font-weight: bold;
		line-height: 0.8em;
		text-transform: uppercase;
		width:140px;
	}
	#menu-static li {
		font-size: 1em;
		font-weight: bold;
		line-height: 1.5em;
		text-transform: uppercase;
	}
	#menu-ad {
		width: 100%;
		height 600px;
		margin-top: 20px;
		text-align: center;
	}
	#menu-ad2 {
		margin-top: 20px;
	}

/* Template-specific layout */
/* =SECTIONALS-HEADERS */
#header-container-primary {
}
	#header-container-primary #logo {
		display: block;
		margin: 0 auto;
	}
	#header-container-primary #dateline {
		position: absolute;
		left: 0;
		bottom: 5px;
	}
	#header-container-primary #issueline {
		position: absolute;
		right: 0;
		bottom: 5px;
	}

/* =SINGLES-HEADERS */
#header-container-secondary {
}
	#header-container-secondary #logo {
		margin-top: 1em;
	}
	#header-container-secondary #dateline {
		position: absolute;
		right: 0;
		bottom: 5px;
	}
	#header-container-secondary #issueline {
		display: none;
	}

/* =SECTIONALS-CONTENT */
#content-wide-2cols {
	float: left;
	width: 700px;
}
	#topstory {
		border-bottom: 1px solid #ccc;
	}
	#topstory .story-summary {
		font-size: 1.1667em;
		line-height: 1.428em;
		margin-bottom: 1.714em;
	}
	#topstory .story-photo {
		/* height: 234px; */
		width: 390px;
	}
	#topstory .story-caption {
		margin-bottom: 2.4em;
		width: 390px;
	}
	#standalonephoto {
		background-color: #ddd;
		float: right;
		margin: 0 0 2em 1em;
		width: 410px;
	}
	#standalonephoto-head {
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
		margin: 5px;
	}
	#standalonephoto .story-photo {
		/* height: 234px; */
		margin: 5px 10px;
		width: 390px;
	}
	#standalonephoto .story-caption {
		float: none;
		margin: 5px 10px;
		position: relative;
		width: 390px;
	}
	#stories-other {
		float: left;
		width: 392px;
	}
	#stories-other .story-photo, #stories-other .story-caption {
		width: 390px;
	}
	#stories-other .story-caption {
		margin-bottom: 1.8em;
	}

/* =SINGLES-CONTENT */
#content-narrow-1col {
	float: left;
	width: 650px;
}
	#story {
	}
		#story .story-caption {
			margin-bottom: 1.8em;
		}
		/*
		The following rule works in concert with the template code, as we're now setting
		the width of the photo and the caption in the Django template. It's a crappy
		workaround but it's the best we've got if we don't want to screw with the data
		models and introduce a bunch of one-off booleans for "this is a headshot," "this is
		a slightly-narrower-than-normal photo," etc.
		*/
		#story .story-photo, #story .story-caption {
			max-width: 390px;
			width: expression(this.width > 395 ? "390px" : "auto")
		}
		.story-deck {
			width: 450px;
		}
		.story-byline {
			border-top: 1px solid #ccc;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 0.91667em;
			letter-spacing: 1px;
			line-height: 1.8em;
			margin-top: 0.5em;
			text-align: right;
			text-transform: uppercase;
		}
		.story-content p {
			font-size: 1.1667em;
			line-height: 1.428em;
			margin-bottom: 1.428em;
		}
		.story-content ul, .story-content ol {
			margin: 0 0 1.428em 1.5em;
		}
		.story-content li {
			font-size: 1.1667em;
			line-height: 1.428em;
		}
		.story-content ul li {
			list-style-type: square;
		}
		.story-content ol.lower-roman li {
			list-style-type: lower-roman;
		}
		.story-content ol.lower-alpha li {
			list-style-type: lower-alpha;
		}
		.inline-container {
			background-color: #ddd;
			border: 1px solid #ccc;
			padding: 12px;
		}			
		.story-inlines {
			clear: right;
			float: right;
			margin: 0;
		}
		.story-inlines .inline-container {
			margin: 0 0 1em 1em;
			width: 200px;
		}
		.story-content .inline-container {
			margin: 0 0 1em 0;
			width: 624px;
		}
		.inline-container p {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 1em;
			line-height: 1.5em;
		}
		.inline-container ul {
			margin: 0 0 1.5em;
		}
		.inline-container ul li {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 1em;
			line-height: 1.5em;
			list-style-type: square;
			margin-left: 1.5em;
		}
		.story-content .inline-container h4 {
			text-align: center;
			margin: 0 0 1em;
		}
		.factbox .factbox-source {
			font-style: italic;
			margin: 0;
			text-align: right;
		}
		.document ul li p {
			margin: 0;
		}
		.document ul li .doc-details {
			font-size: 0.91667em;
			line-height: 1.8em;
		}
		.document ul {
			margin: 0;
		}
		.gallery a {
			background-color: #ccc;
			display: block;
			float: left;
			height: 79px;
			margin: 0 10px 10px 0;
			overflow: hidden;
			padding: 8px;
			width: 79px;
		}
		.gallery a img {
			border: 2px solid #c30;
		}		
		
	.inline-story-ad {
		float: left;
		position: relative;
		margin: 25px 20px 10px 0;
		display: block;
		}	

/* =COMMENTS-CONTENT */
.comment-odd, .comment-even {
	border-bottom: 1px solid #ccc;
	clear: left;
	font-size: 1em;
	margin: 1.5em 0;
}
	#comment-header, #comment-policy-header {
		margin-top: 2em;
	}
	#comment-policy {
		color: #999;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 0.91667em;
		font-weight: bold;
		line-height: 1.8em;
	}
	.comment-meta {
		float: right;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 0.91667em;
		line-height: 1.8em;
		margin: 0 0 3.6em 1.8em;
		width: 200px;
	}
	.comment-body {
		font-family: Arial, Helvetica, sans-serif;
		margin-bottom: 1.5em;
		width: 420px;
	}
	#comment-form {
		clear: both;
	}

/* =MASTHEAD-CONTENT */
#masthead {
}
	#masthead h1 {
		margin-bottom: 0.6em;
	}
	#masthead ul {
		list-style-type: none
	}
	#masthead ul li {
		clear: left;
	}
	#masthead ul li p {
		font-weight: bold;
		margin: 0;
	}
	#masthead ul ul {
		margin-bottom: 1.5em;
	}
	#masthead ul ul li {
		clear: left;
	}
	#masthead ul ul li p {
		font-weight: normal;
		float: left;
		margin: 0;
	}
	#masthead ul ul li p.name {
		margin: 0 1em;
		width: 150px;
	}
	#masthead ul ul li p.email {
		margin: 0 1em;
		width: 200px;
	}
	#masthead ul ul li p.position {
		width: 200px;
	}

/* =FORMS-CONTENT */
.form-container {
}
	.form-container fieldset {
		background-color: #eee;
		border: 1px solid #ccc;
		padding: 1.5em 0.75em;
	}
	.form-container fieldset legend {
		background-color: #eee;
		border: 1px solid #ccc;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 0.91667em;
		font-weight: bold;
		margin-left: 0.5em;
		padding: 0.5em;
		text-transform: uppercase;
	}
	.form-container fieldset div {
		padding: 0.5em;
		margin: 0 0 0.5em;
	}
	.form-container fieldset div.errors {
		background-color: #fdc;
		border: 1px solid #ecb;
	}
	.form-container fieldset div.errors span.error-text {
		color: #a22;
		font-weight: bold;
	}
	
/* =SECTIONALS-CONTENT-SIDEBAR */
#content-sidebar {
	border-left: 1px solid #ccc;
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 20px;
	width: 268px;
}
	#content-sidebar h3 {
		color: #ccc;
		text-align: right;
		text-transform: uppercase;
	}
	#content-sidebar p {
		display: relative;
	}
	#content-sidebar .announcement {
		background-color: #96c0d5;
		border: 1px solid #2d81ab;
		margin-bottom: 1.5em;
	}
	#content-sidebar .announcement h4 {
		background-color: #2d81ab;
		color: white;
		text-align: center;
		text-transform: uppercase;
		padding: 5px;
	}
	#content-sidebar .announcement p {
		font-style: italic;
		margin: 1.5em 0.75em;
	}
	#content-sidebar .announcement a {
		color: #2d81ab;
		font-weight: bold;
	}
	#content-sidebar .sidebar-calendar-date {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 0.91667em;
		font-weight: bold;
		letter-spacing: 1px;
		line-height: 1.2em;
		margin: 1.2em 0 0.6em;
		text-transform: uppercase;
		border-bottom: 1px solid #ccc;
	}
	#content-sidebar .sidebar-calendar-location {
		font-size: 0.91667em;
		line-height: 1.5em;
		margin: 0;
		text-align: right;
		text-transform: uppercase;
	}
	#content-sidebar .sidebar-calendar-time {
		font-size: 0.91667em;
		line-height: 1.5em;
		text-align: right;
		text-transform: uppercase;
	}
	#content-sidebar .sidebar-calendar-details {
		font-size: 0.91667em;
		line-height: 1.5em;
		margin: 0;
	}
	#content-sidebar .sidebar-heads-answer {
		clear: left;
		margin: 0 0 1.5em;
	}
	#content-sidebar .sidebar-heads-location {
		font-size: 0.91667em;
		line-height: 1.5em;
		text-align: right;
	}
	#content-sidebar .sidebar-heads-question {
		margin: 0 0 1.5em;
	}
	#content-sidebar .sidebar-heads-image {
		border: 1px solid black;
		float: left;
		height: 90px;
		margin-right: 1em;
		width: 100px;
	}
	#content-sidebar .sidebar-heads-quote {
		float: right;
		margin-bottom: 0.5em;
		width: 150px;
	}
	#content-sidebar .sidebar-heads-person {
		clear: right;
		float: right;
		font-size: 0.91667em;
		line-height: 1.5em;
		margin: 0;
		text-align: right;
		text-transform: uppercase;
		width: 125px;
	}
	#content-sidebar .sidebar-heads-credits {
		font-size: 0.91667em;
		font-style: italic;
		line-height: 1.5em;
		margin: 0;
		text-align: center;
	}
	#content-sidebar .sidebar-previous-date {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 0.91667em;
		font-weight: bold;
		letter-spacing: 1px;
		line-height: 1.2em;
		margin: 1.2em 0 0;
		text-transform: uppercase;
	}
	#content-sidebar .sidebar-artscalendar-item {
		margin-bottom: 1.5em;
	}
	#content-sidebar .sidebar-artscalendar-eventname {
		font-style: italic;
		margin: 0;
	}
	#content-sidebar .sidebar-artscalendar-time {
		font-size: 0.91667em;
		line-height: 1.5em;
		margin: 0 2em;
		text-transform: uppercase;
	}
	#content-sidebar .sidebar-sports-date {
		font-weight: bold;
		margin: 0;
	}
	#content-sidebar .sidebar-sports-teams, #content-sidebar .sidebar-sports-eventdetail {
		margin: 0;
	}
	#content-sidebar .sidebar-sports-location, #content-sidebar .sidebar-sports-time {
		font-size: 0.91667em;
		line-height: 1.5em;
		margin: 0;
		text-transform: uppercase;
	}
	#content-sidebar .sidebar-sports-indresult, #content-sidebar .sidebar-sports-description {
		font-size: 0.91667em;
		line-height: 1.5em;
		margin: 0;
	}
	#content-sidebar .sidebar-sports-indresult-queens {
		font-size: 0.91667em;
		font-style: italic;
		line-height: 1.5em;
		margin: 0;
	}
	#content-sidebar .sidebar-sports-item {
		margin-bottom: 1.5em;
	}
	#sidebar-poll {
		background-color: #ddd;
		border: 1px solid #ccc;
		margin-top: 1.5em;
		padding: 12px;
	}			


/* =SECTIONALS-MENU */
#menu-narrow {
	width: 180px;
}
	#menu-poll {
		background-color: #ddd;
		padding: 0.75em 10px;
		margin-bottom: 3px;
	}

/* =SINGLES-MENU */
#menu-wide {
	width: 230px;
}
	#menu-stories {
		margin-top: 2em;
	}
		#menu-stories ul li {
			color: #ccc;
			font-size: 0.91667em;
			font-weight: bold;
			line-height: 1.5em;
			list-style-type: square;
			margin-left: 1.25em;
		}
		#menu-stories ul li a {
			color: #c30;
		}

/* =POLLS-CONTENT */
.poll {
}
	.poll #poll-question {
		margin: 0;
	}
	.poll ul {
		margin: 0;
	}
	.poll ul li {
		font-size: 0.91667em;
		line-height: 1.5em;
		list-style-type: none;
		margin: 1.5em 0 1.5em 18px;
	}
	.poll label input {
		width: auto;
		margin: 0 0 0 -18px;
	}
	.poll ul#poll-results li {
		clear: left;
		font-size: 0.91667em;
		line-height: 1.5em;
		margin: 1.5em 0;
	}
	.poll ul#poll-results li p {
		margin: 0;
	}
	.result-bar {
		background-color: #999;
		border: 1px solid #666;
		height: 0.5em;
		margin: 0.5em 0;
		position: absolute;
		top: 0;
		left: 0;
	}
	.result-bar-back {
		background-color: #eee;
		float: left;
		position: relative;
		width: 120px;
	}
	.result-bar-interval {
		border-right: 1px solid #ddd;
		float: left;
		height: 19px;
		width: 29px;
	}
	.poll ul#poll-results li p.result-number {
		float: left;
		font-weight: bold;
		margin: 0 10px 0 0;
		text-align: right;
		width: 30px;
	}

/* =BLOG-GLOBAL-CONTENT */
#blog-column {
	position: relative;
}
	.blog-container, .blog-sidebar {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 1em;
		line-height: 1.5em;
	}
	.blog-container {
		background: #eee url('/media/global/blogs-individual-background.png');
		background-repeat: repeat-x;
		border-top: 1px solid #ccc;
		margin: 1.5em 0;
		padding: 0.75em;
	}
	.blog-sidebar {
		float: right;
		margin-right: 1.5em;
		width: 200px;
	}
		.blog-sidebar ul {
			margin-bottom: 1.5em;
		}
		.blog-sidebar ul li {
			list-style-type: none;
		}
	.blog-content {
	}
		.blog-content .blog-container {
			width: 450px;
		}
		.blog-content .content-image {
			background-color: white;
			border: 1px solid #ccc;
			padding: 4px;
		}
		.blog-content .image-caption {
			font-size: 0.91667em;
			font-weight: bold;
			line-height: 1.5em;
			margin: -1.5em 5px 1.5em;
			text-align: right;
		}

/* =BLOG-INDEX-CONTENT */
#blogs-index {
}
	.blog-description {
		float: left;
		width: 390px;
	}
		.blog-bloggers {
			font-size: 0.91667em;
			letter-spacing: 1px;
			line-height: 1.8em;
			margin: 0;
			text-transform: uppercase;
		}
		.bloggers-headshots {
			float: right;
			width: 150px;
		}
			.bloggers-headshots .author-headshot {
				max-width: 150px;
				width: expression(this.width > 155 ? "150px" : "auto")
			}
	.blog-recent-posts {
		border-left: 1px solid #ccc;
		float: right;
		padding-left: 0.75em;
		width: 268px;
	}

/* =BLOG-ENTRYLIST-CONTENT */
#blog-entries {
}
	.blog-post-commentlink {
		font-weight: bold;
		text-align: right;
	}

/* =BLOG-ENTRY-CONTENT */
#blog-single-entry {
}
	#blog-single-entry ul, #blog-single-entry ol {
		margin-left: 1.5em;
	}
	#blog-single-entry fieldset {
		background: transparent;
		border: 0;
		padding: 0;
	}
	#blog-single-entry fieldset div {
		padding: 0.5em 0;
	}
	#blog-single-entry legend {
		display: none;
	}
	#blog-single-entry #id_comment {
		width: 400px;
	}
	.blog-comment {
		margin: 1.5em 0;
		border-bottom: 1px solid #ccc;
	}
	.blog-comment.final {
		border-bottom: none;
	}
	.blog-comment .comment-meta {
		float: none;
		margin: 0 0 1.5em 250px;
	}
	
/* =BLOG-AUTHOR-CONTENT */
#blog-author {
}
	.author-headshot {
		background-color: white;
		border: 1px solid #ccc;
		float: right;
		margin: 0 0 1.5em 1.5em;
		padding: 4px;
	}
	#author-posts ul li {
		margin: 0 0 1.5em 1.5em;
	}
