{% extends 'stories/index_section.html' %}
{% load typogrify %}
{% load custom_html %}
{% load navigation %}
{% load sidebartags %}

{% block headcode %}
{% if active %}<link rel="alternate" type="application/rss+xml" title="Latest posts from all blogs (RSS 2.0)" href="/rss/blogs/all/" />{% endif %}
{{ block.super }}
{% endblock headcode %}

{% block title %}Blogs{{ block.super }}{% endblock title %}

    {% block actions %}
        {% if active %}<li><a href="/rss/allblogs/"><span><img src="{{ STATIC_URL }}img/feed.png" />Latest blogs RSS</span></a></li>{% endif %}
    {% endblock actions %}

    {% block content %}
        {% block breadcrumb %}<div id="breadcrumb"><a href="/">Home</a><span class="divider"></span><span class="current">Blogs</span></div>{% endblock %}
        <div class="section-header">
            <h1>Blogs</h1>
        </div>

        <div class="hr dblmargin"><hr></div>

        <div class="block">

            <div class="featured column span-16 colborder"><!--featured box-->

                    <div id="slider-wrapper">

                        <div id="slider" class="nivoSlider" style="margin-right: 0px;">
                        {% for entry in featured %}
                            <img src="{{ entry.story_thumb.display.url }}" alt="{{ entry.title }}" class="slideshow-featured-img" title="#caption{{ entry.id }}"/>
                        {% endfor %}
                        </div>
                        {% for entry in featured %}
                        <div id="caption{{ entry.id }}" class="nivo-html-caption">
                            <p class="slider-story label"><a href="{{ entry.blog.get_absolute_url }}">{{ entry.blog }}</a></p>
                            <h2><a href="{{ entry.get_absolute_url }}">{{ entry.title|striptags|choptext:"42"|stripspace|convert_entities|safe }}</a></h2>
                            {{ entry.content|stripspace|convert_entities|truncatewords:38|striptags|safe }}
                        </div>
                        {% endfor %}

                    </div>

            </div><!--featured box-->

            <div id="stories-other" class="latest column span-7 last">
                <h3>Latest Posts <span class="feed"><a href="/rss/allblogs/"><img src="{{ STATIC_URL }}img/feed-small.png" />RSS Feed</a></span></h3>
                <hr>
                <ul>
                {% for entry in latest %}
                    <li><p class="label"><a href="{{ entry.blog.get_absolute_url }}">{{ entry.blog }}</a></p>
                        <h5><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h5>
                        <p class="pub_date">{{ entry.pub_date|time_since }}</p>
                    </li>
                {% endfor %}
                </ul>
            </div>

        </div><!--block-->

        <div class="hr dblmargin"><hr></div>

        <div class="block">

            <div id="other-stories" class="column span-24 last">

                {% for blog in blogs %}
                <div class="latest-section">
                    <a href="{{ blog.get_absolute_url }}">{% if blog.image %}<img src="{{ blog.image.front_image.url }}" /></a>{% endif %}
                    <h2 class="latest-section-head"><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></h2>
                    <p class="latest-section-summary">{{ blog.description|typogrify|safe }}</p>

                    <p><a href="/rss/blogs/{{ blog.slug }}"><img src="{{ STATIC_URL }}img/feed-icon-10x10.gif">&ensp;Latest posts feed</a></p>
                    <div class="blog-recent-posts latest">
                        <ul>
                        {% for post in blog.entry_set.published|slice:":2" %}
                            <li><p class="label">Posted {{ post.pub_date|time_since }}</p>
                            <h5><a href="{{ post.get_absolute_url }}">{{ post.title|typogrify }}</a></h5></li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}

            </div>

        </div>

    {% endblock content %}

{% block footercode %}
    $(window).load(function() {
       $('#slider').nivoSlider({
            directionNav:true,
            controlNav:false,
            effect:'slideInLeft',
            pauseOnHover:true,
            pauseTime:5000,
            captionOpacity:1,
        });
   });
    $(window).load(function(){
        $('#other-stories').masonry({
            singleMode: true,
            columnWidth: 247,
            itemSelector: '.latest-section'
        });
    });
{% endblock footercode %}
