{% extends 'stories/single_detail.html' %}

{% block title %}Journal masthead archives{% endblock title %}
{% block menu-stories %}{% endblock menu-stories %}
{% block breadcrumb %}<a href="/">Home</a> &raquo; Masthead{% endblock breadcrumb %}
{% block actions %}
	<li><a href="javascript:print_preview()"><span><img src="{{ STATIC_URL }}img/icon_print.gif" />Print this page</span></a></li>
{% endblock actions %}

{% block content %}
<div id="masthead">
	<h1>Journal masthead archives</h1>
	<ul>
	{% for masthead in object_list %}
		<li><a href="{% url masthead_single masthead.volume.volume %}">{% for year in masthead.volume.get_years %}{% if forloop.first %}{{ year|date:"Y" }}{% else %}{% if forloop.last and not forloop.first %}&ndash;{{ year|date:"Y" }}{% endif %}{% endif %}{% endfor %} (volume {{ masthead.volume.volume }})</a></li>
	{% endfor %}
	</ul>
</div>
{% endblock content %}
