{% load comparison %}
{% spaceless %}
{% if image %}
	<a href="{{ image.gallery.url }}"><img src="{% ifequal spec 'list' %}{{ image.list.url }}{% else %}{{ image.detail.url }}{% endifequal %}" class="content-image" alt="{{ image.name }}" title="{{ image.name }}{% if image.credit %} ({{ image.credit }}){% endif %}" /></a>
	{% if image.caption %}
		<p class="image-caption" style="width: {% if_greater image.get_image_width max_width %}{{ max_width }}{% else %}{{ image.get_image_width }}{% endif_greater %}px">{{ image.caption }}{% if image.credit %} ({{ image.credit }}){% endif %}</p>
	{% endif %}
{% endif %}
{% endspaceless %}